/// Accordion Menus
/// Simple CSS Only checkbox based accordions. No JS needed.
///
.accordion {
  input:checked ~,
  &[open] {
    & .accordion-header > {
      .#{$icon-prefix}:first-child {
        transform: rotate(90deg);
      }
    }

    & .accordion-body {
      max-height: $accordion-max-height;
      overflow: scroll;
    }
  }

  .accordion-header {
    display: block;
    padding: $sz_1 $sz_2;
    color: $heading;
    transition: $transition-color;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
      color: lighten($transition-color, 20%);
    }

    &.accordion-header-alt {
      color: $transition-color;
      &:hover {
        color: darken($transition-color, 20%);
      }
    }

    .#{$icon-prefix} {
      transition: transform 0.35s;
    }
  }

  .accordion-body {
    margin-bottom: $sz_2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s;
  }
}

// Remove default details marker in Webkit
summary.accordion-header {
  &::-webkit-details-marker {
    display: none;
  }
}
