// Navbar adjustments
@include cssvars(
  (
    icon-size: $icon-size
  )
);

/* navbar hide on scroll down */
.nav-up {
  top: calc($navbar-height * -1.1);
}

// Navbar
.navbar {
  padding: $navbar-padding-y $navbar-padding-x;
  transition: top $transition-move;
}

// .navbar-nav {
//   max-height: calc($navbar-height * 0.8);
// }

// Navbar brand
.navbar-brand {
  padding-top: $navbar-brand-padding-y;
  padding-bottom: $navbar-brand-padding-y;
  margin-right: $navbar-padding-x;
  font-size: $navbar-brand-font-size;
  font-family: $navbar-font-family;
  font-weight: 400;
}

// Navbar text
.navbar-text {
  padding-top: $nav-link-padding-y;
  padding-bottom: $nav-link-padding-y;
}

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {
  padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
  font-size: $navbar-toggler-font-size;
  background: $white;
  border: $border-width solid transparent; // remove default button style
  @include border-radius($navbar-toggler-border-radius);
}

// Bootstrap already generates a series of `.navbar-expand-*` responsive classes
// for configuring where your navbar collapses. This just adjusts the nav link's
// left and right padding.
.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-up($next) {
        .navbar-nav {
          margin-top: 0;

          .nav-link {
            padding-right: $navbar-nav-link-padding-x;
            padding-left: $navbar-nav-link-padding-x;
          }
        }
      }
    }
  }
}

.nav-item .#{$icon-prefix} {
  white-space: nowrap;
  height: $navbar-icon-size;
  line-height: 1;

  &:before {
    font-size: $navbar-icon-size;
    line-height: 0.5;
  }
}

// TODO: add small & large form control sizes
.nav-form {
  .form-control,
  .btn {
    height: calc($navbar-height * 0.75);
  }
}

// Sidebar Overlay Menu
.sidebar,
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
}

.sidebar {
  left: -100%;
  max-width: $navbar-sidebar-width;
  transition: $transition-base;
  overflow-y: auto;
  z-index: 1032;
}

.overlay {
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 1031;
}

.main-navigation.active .sidebar {
  left: 0;
}

.main-navigation.active .overlay {
  visibility: visible;
}

.navbar-toggler-icon {
  &.active {
    color: #000;
    background-color: rgba(0, 0, 0, 0.95);
  }
}

@include media-breakpoint-up(lg) {
  .sidebar {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    flex-direction: row;
    max-width: 100%;
    transform: none;
    transition: none;
    overflow-y: visible;
    z-index: auto;
  }
}

@include media-breakpoint-down(lg) {
  .navbar-nav {
    padding-top: 5rem;
    padding-left: 1.5rem;
  }
}

// Navbar themes

// Dark links against a light background
.navbar-light {
  background: $gray-500;

  .navbar-brand {
    color: $navbar-light-active-color;

    @include hover-focus {
      color: $navbar-light-active-color;
    }
  }

  .navbar-nav {
    margin-top: 0;

    .nav-link {
      color: $navbar-light-color;

      @include hover-focus {
        color: $navbar-light-hover-color;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-light-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
    background: none;
  }

  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-light-color;
    a {
      color: $navbar-light-active-color;

      @include hover-focus {
        color: $navbar-light-active-color;
      }
    }
  }
}

// White links against a dark background
.navbar-dark {
  background: $gray-800;

  .navbar-brand {
    color: $navbar-dark-active-color;

    @include hover-focus {
      color: $navbar-dark-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-dark-color;

      @include hover-focus {
        color: $navbar-dark-hover-color;
      }

      &.disabled {
        color: $navbar-dark-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-dark-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-dark-color;
    border-color: $navbar-dark-toggler-border-color;
    background: none;
  }

  .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-dark-color;
    a {
      color: $navbar-dark-active-color;

      @include hover-focus {
        color: $navbar-dark-active-color;
      }
    }
  }
}
