// Nav adjustments

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  font-size: 0.875rem;
  font-family: $nav-font-family;
}

.nav-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;
  @include rfs($nav-link-font-size);
  @include transition($nav-transition);

  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
  }
}

//
// Tabs
//
.nav-tabs {
  .nav-link {
    transition: none;

    &:hover,
    &:focus {
      color: $white;
      isolation: auto;
    }

    &,
    &.disabled {
      background-color: $progress-bg;
    }
  }

  .nav-item:first-child > .nav-link {
    border-radius: $border-radius 0 0 $border-radius;
  }

  .nav-item:last-child > .nav-link {
    border-radius: 0 $border-radius $border-radius 0;
  }

  .nav-item .nav-link.active,
  .nav-item.show .nav-link {
    @include glass(1, $white);
    border-radius: $border-radius;
    transform: scale(1.1);

    &:hover,
    &:focus {
      color: $gray-800;
    }
  }

  .dropdown-menu {
    border-radius: $border-radius;
  }
}

.nav-pills {
  .nav-link {
    transition: none;

    &:hover,
    &:focus {
      color: $white;
      isolation: auto;
    }
  }
}

//
// Nav Outlined Pills
//

.nav-outlined-pills {
  .nav-link {
    @include border-radius($nav-pills-border-radius);
    border: 1px solid transparent;

    &.active,
    .show > & {
      background: none;
      color: $nav-pills-link-active-bg;
      border-color: $nav-pills-link-active-bg;
    }

    &:hover {
      border-color: color.adjust($nav-tabs-border-color, $lightness: 8%);
    }
  }
}

//
// Color variations
//

@each $color, $value in $colors {
  .nav-#{$color} {
    .nav-link {
      // Active pills
      &.active {
        background-color: $value;
        border-color: color.scale($value, $lightness: -3%);
        color: color-yiq($value);
      }

      &.disabled {
        color: $nav-link-disabled-color;

        &:hover {
          cursor: not-allowed;
          border-color: transparent;
        }
      }
    }

    // Link color
    .nav-link {
      color: $value;
    }

    // Outlined pills color variations.
    &.nav-outlined-pills {
      // Active pills
      .nav-link.active {
        background: transparent;
        border-color: color.adjust($value, $lightness: 10%);
        color: $value;

        &:hover {
          border-color: color.adjust($value, $lightness: 10%);
        }
      }

      // Link color
      .nav-link {
        color: $value;
      }
    }
  }
}
