//
// Table
//
@use 'sass:color';

.table {
  // Reset needed for nesting tables
  --#{$prefix}table-color-type: initial;
  --#{$prefix}table-bg-type: initial;
  --#{$prefix}table-color-state: initial;
  --#{$prefix}table-bg-state: initial;
  // End of reset
  --#{$prefix}table-color: #{$table-color};
  --#{$prefix}table-bg: #{$table-bg};
  --#{$prefix}table-border-color: #{$table-border-color};
  --#{$prefix}table-accent-bg: #{$table-accent-bg};
  --#{$prefix}table-striped-color: #{$table-striped-color};
  --#{$prefix}table-striped-bg: #{$table-striped-bg};
  --#{$prefix}table-active-color: #{$table-active-color};
  --#{$prefix}table-active-bg: #{$table-active-bg};
  --#{$prefix}table-hover-color: #{$table-hover-color};
  --#{$prefix}table-hover-bg: #{$table-hover-bg};

  background-color: $table-bg;
  color: $table-color;
  width: 100%;
  margin-bottom: $spacer;
  vertical-align: $table-cell-vertical-align;
  border-color: var(--#{$prefix}table-border-color);

  & > tbody > tr > td,
  & > tbody > tr > th {
    color: $table-color;
  }

  .table {
    background-color: $body-bg;
    color: color.adjust($table-color, $lightness: 20%);
  }
}

// //
// // Condensed table w/ half padding
// //

// .table-sm {
//   th,
//   td {
//     padding: $table-cell-padding-sm;
//   }
// }

// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

// @each $color, $value in $theme-colors {
//   @include table-row-variant($color, theme-color-level($color, -9));
// }

// @include table-row-variant(active, $table-active-bg);

// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

// For rows
.table-striped {
  > tbody > tr:nth-of-type(#{$table-striped-order}) > * {
    background: $table-striped-bg;
    color: $table-striped-color;
  }
}

// For columns
.table-striped-columns {
  > :not(caption) > tr > :nth-child(#{$table-striped-columns-order}) {
    background: $table-striped-bg;
    color: $table-striped-color;
  }
}
