// ============================================================
//  @huement/ui variables
// ============================================================
@use 'sass:color';
@use 'sass:map';
@use 'sass:math';

// Theme configuration
$theme: 'classic' !default;

$debugMode: true !default;
$debug: $debugMode !default;

// Harmony
$modular-ratio: $MAJOR_THIRD !default;
$line-height-base: 1.5 !default;
$block-spacing: 1.5rem !default;
$vertical-unit: 0.5rem !default;
$main-indent: 0.24rem !default;
$default-paragraph-line-limits: 1 2 3 !default;
$font-size-base: 1rem !default;
$font-size-lg: $font-size-base * $modular-ratio !default;
$font-size-sm: $font-size-base * 0.875 !default;

// Pick a suit to maximize the style of the framework
// Or set to false to run around naked and use the defaults
@import 'suit/classic';

// GRID CONFIG
$grid-columns: 12 !default;
$grid-gutter-width: 1.5rem !default;
$grid-row-columns: 6 !default;
$container-padding-x: $grid-gutter-width !default;
$break-point-limit: 'medium' !default;
$tile-spacing: 0.75rem !default;

// Colors & Shadows
$body-bg: #212121 !default;
$wave-bg: #111 !default;
$btm-bg: #131313 !default;
$dark-bg: #181818 !default;
$black: #0f0f0f !default;
$post-bg: #030303 !default;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.2) !default;
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.3) !default;

$hui-enable-color-stacks: true !default; // add additional classes for each color, ie .bg-red-400
$hui-enable-fills: true !default; // add extra fill classes for colors and greyscale .fill-mono-100
$hui-enable-mono-scale: true !default; // generate monotone color-scale
$hui-enable-theme-scale: false !default; // generate monotone color-scale


// Z-index supplementary values not present in BS5.
$zindex-0: 1 !default;
$zindex-1: 100 !default;
$zindex-2: 200 !default;
$zindex-3: 300 !default;
$zindex-4: 400 !default;
$zindex-navbar: 600 !default;
$zindex-sticky: 900 !default;

// Bootstrap Config
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default; // Deprecated, no longer affects any compiled CSS
$enable-fonts-import: true !default;
$enable-caret: true !default;
$enable-reduced-motion: true !default;
$enable-smooth-scroll: true !default;
$enable-grid-classes: true !default;
$enable-container-classes: true !default;
$enable-cssgrid: false !default;
$enable-button-pointers: true !default;
$enable-rfs: true !default;
$enable-validation-icons: true !default;
$enable-negative-margins: true !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities: true !default;
$enable-display-sizes: true !default;
$include-column-box-sizing: true !default;
$enable-dark-mode: true !default; // dark is the new default
$color-mode-type: data !default; // `data` or `media-query`
$enable-fills: true !default;
$enable-pixel-values: false !default; // .mt-10px { margin-top: 10px } etc

// HUI Components Config
$hui-enable-extra-buttons: true !default;

//
// BRANDS
//
// Add in support for various brands colors. Will create a bg-{brand}, text-{brand} and btn-{brand} elements.
$brands: facebook, linkedin, x, instagram, github, youtube, reddit, telegram,
  whatsapp, codepen, discord !default;

//
// Spacing
//
// Controls icons size .i-50, .w-50px { width: 50px } etc
$default-ui-sizes: 5 10 20 25 30 50 60 75 100 150 200 !default;

// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.5,
  2: $spacer,
  3: $spacer * 1.5,
  4: $spacer * 2,
  5: $spacer * 2.5,
  6: $spacer * 3,
  10: $spacer * 5,
  ) !default;

// Quick and easy way to grab the spacer values w/o using a map.
$sz_1: $spacer * 0.5 !default;
$sz_2: $spacer !default;
$sz_3: $spacer * 1.5 !default;
$sz_4: $spacer * 2 !default;
$sz_5: $spacer * 2.5 !default;
$sz_6: $spacer * 3 !default;
$sz_7: $spacer * 3.5 !default;
$sz_8: $spacer * 4 !default;
$sz_9: $spacer * 4.5 !default;
$sz_10: $spacer * 5 !default;
$sz_11: $spacer * 5.5 !default;
$sz_12: $spacer * 6 !default;
$sz_13: $spacer * 6.5 !default;
$sz_14: $spacer * 7 !default;
$sz_15: $spacer * 7.5 !default;
$sz_20: $spacer * 10 !default;
$negative-spacers: if($enable-negative-margins,
    negativify-map($spacers),
    null) !default;
$gutters: $spacers !default;

//============================================================
// TYPOGRAPHY SETTINGS & CONFIGURATIONS
//============================================================
// Font File Config
$font-path: '/public/fonts/' !default;

// @TODO: currently hui is expecting locally hosted fonts.
// @TODO: Optionally Load Fonts via an import rather than locally hosted
// @TODO: something like $google-fonts-import: 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600|Roboto+Mono' !default; // Includes: Poppins: Light, Regular, Medium, Semi-bold !default; Roboto Mono: Regular

// Typography Variables
// ============================================================================
// Because hui uses modular scales, most font sizes are automatically generated in the 'chords' file.

// Map controls how many line limit classes will be generated
// example .limit-lines-2 { line-clamp: 2 }
$base-font-map: map.get($chords, 'md') !default;
$sm-font-map: map.get($chords, 'sm') !default;
$lg-font-map: map.get($chords, 'lg') !default;
$font-family-ui: map.get($UIFont, 'family'),
  map.get($UIFont, 'stack') !default;
$font-family-system-first: map.get($PrimaryFont, 'family'),
  map.get($PrimaryFont, 'stack') !default;
$font-family-mono-first: map.get($CodeFont, 'family'),
  map.get($CodeFont, 'stack') !default;
$font-family-headings: map.get($HeadingFont, 'family'),
  map.get($HeadingFont, 'stack') !default;
$font-family-sans-serif: $font-family-system-first !default;
$font-family-monospace: $font-family-mono-first !default;
$font-family-base: $font-family-sans-serif !default;
$base-headings-map: map.get($base-font-map, 'headings') !default;
$base-headingspx-map: map.get($base-font-map, 'headings_px') !default;
$base-scale: map.get($base-font-map, 'scale') !default;
$font-size-root: strip-units(map.get($base-font-map, 'fontSize')) !default;

// $type-sizes: (
//   xs: $font-size-base / ($modular-ratio * $modular-ratio),
//   sm: $font-size-base / $modular-ratio,
//   md: $font-size-base,
//   lg: $font-size-base * $modular-ratio,
//   xl: $font-size-base * $modular-ratio * $modular-ratio,
//   xx: $font-size-base * $modular-ratio * $modular-ratio * $modular-ratio ) !default;

// $type-line-sizes: (
//   xs: map.get($type-sizes, 'xs') * $line-height-base,
//   sm: map.get($type-sizes, 'sm') * $line-height-base,
//   md: map.get($type-sizes, 'md') * $line-height-base,
//   lg: map.get($type-sizes, 'lg') * $line-height-base,
//   xl: map.get($type-sizes, 'xl') * $line-height-base,
//   xx: map.get($type-sizes, 'xx') * $line-height-base) !default;

// Various additional Text colors that are created in the builder.
// example: .text-indigo { color: $indigo-300 }
$color-shades: (
  'blue': $blue-700,
  'indigo': $indigo-300,
  'purple': $purple-300,
  'pink': $pink-500,
  'red': $red-500,
  'orange': $orange-500,
  'yellow': $yellow-500,
  'green': $green-500,
  'teal': $teal-500,
  'cyan': $cyan-500,
  'gray': $gray-700,
  ) !default;

//
// Title, Subtitle, Display Font Variables
//

$title-size: 3.5rem !default;
$title-weight: 700 !default;
$title-strong-weight: inherit !default;
$subtitle-size: 2rem !default;
$subtitle-weight: 400 !default;
$subtitle-strong-weight: 500 !default;
$display-font-family: null !default;
$display-font-style: null !default;
$display-font-weight: 300 !default;
$display-line-height: 1.2 !default;
$display-font-sizes: if($enable-display-sizes,
    (1: 5rem,
      2: 4.5rem,
      3: 4rem,
      4: 3.5rem,
      5: 3rem,
      6: 2.5rem,
    ),
    null) !default;

// WEIGHTS
$font-weight-base: $base-line-height !default;
$font-weight-lighter: lighter !default;
$font-weight-light: (
  map.get($PrimaryFont, 'weight') - 100) !default;
$font-weight-normal: map.get($PrimaryFont, 'weight') !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;

// $h1-font-size: $font-size-base * 2.5 !default;
// $h2-font-size: $font-size-base * 2 !default;
// $h3-font-size: $font-size-base * 1.75 !default;
// $h4-font-size: $font-size-base * 1.5 !default;
// $h5-font-size: $font-size-base * 1.25 !default;
// $h6-font-size: $font-size-base !default;

$font-sizes: (
  1: map.get($base-headings-map, 'h1'),
  2: map.get($base-headings-map, 'h2'),
  3: map.get($base-headings-map, 'h3'),
  4: map.get($base-headings-map, 'h4'),
  5: map.get($base-headings-map, 'h5'),
  6: map.get($base-headings-map, 'h6'),
  ) !default;
$font-weight-normal: map.get($PrimaryFont, 'weight') !default;
$font-weight-bold: 700 !default;
$font-weight-base: $font-weight-normal !default;
$h1-font-size: map.get($base-headings-map, 'h1') !default;
$h2-font-size: map.get($base-headings-map, 'h2') !default;
$h3-font-size: map.get($base-headings-map, 'h3') !default;
$h4-font-size: map.get($base-headings-map, 'h4') !default;
$h5-font-size: map.get($base-headings-map, 'h5') !default;
$h6-font-size: map.get($base-headings-map, 'h6') !default;
$headings-margin-bottom: 0.75rem !default;
$headings-font-family: $font-family-headings !default;
$headings-font-weight: map.get($HeadingFont, 'weight') !default;
$headings-color: $light !default;
$headings-letter-spacing: -0.0625rem !default; // ~1px

$h1-line-height: map.get($base-headings-map, 'h1') !default;
$h2-line-height: map.get($base-headings-map, 'h2') !default;
$h3-line-height: map.get($base-headings-map, 'h3') !default;
$h4-line-height: map.get($base-headings-map, 'h4') !default;
$h5-line-height: map.get($base-headings-map, 'h5') !default;
$h6-line-height: map.get($base-headings-map, 'h6') !default;
// $display1-size: 7.451rem !default;
// $display2-size: 5.96rem !default;
// $display3-size: 4.768rem !default;
// $display4-size: 3.815rem !default;
$display-line-height: 1 !default;
$display-margin-bottom: 0.75rem !default;
$paragraphs-margin-bottom: 1.75rem !default;
$lead-line-height: 1.875rem !default;
$small-font-size: 80% !default;
$text-muted: $gray-600 !default;
$blockquote-font-size: 1.5rem !default;
$blockquote-footer-font-size: 1.125rem !default;
$blockquote-margin-bottom: 0.75rem !default;
$hr-border-color: rgba($dark, 0.1) !default;
$hr-border-width: 0.125rem !default;
$hr-margin-y: 1.125rem !default;
$mark-padding: 0.2em !default;
$mark-bg: $yellow-700 !default;

// Code
$code-color: map.get($hui-red, light) !default;
$code-font-size: 0.75rem !default;
$code-line-height: 1.375rem !default;
$code-padding-y: 0.1875rem !default;
$code-padding-x: 0.8125rem !default;
$code-background-color: rgb(19 19 19 / 80%) !default;
$kbd-font-size: 0.75rem !default;
$kbd-border-radius: 0.625rem !default;
$kbd-box-shadow: none !default;
$kbd-padding-y: $code-padding-y !default;
$kbd-padding-x: $code-padding-x !default;
$kbd-color: $white !default;
$kbd-bg: $gray-900 !default;
$nested-kbd-font-weight: $font-weight-bold !default;
$pre-color: $gray-900 !default;
$pre-scrollable-max-height: 340px !default;
$pre-code-border-radius: 4px !default;
$pre-code-background-color: $gray-700 !default;
$pre-color: $gray-100 !default;
$pre-font-size: 0.9em !default;
$pre-max-height: 460px !default;
$pre-margin-bottom: 24px !default;
$pre-padding: 16px !default;

// Image thumbnails
$thumbnail-bg: $body-bg !default;
$thumbnail-border: none !default;
$thumbnail-padding: 0 !default;
$thumbnail-border-radius: $border-radius !default;
$thumbnail-box-shadow: none !default;