@use 'sass:map';
@use 'sass:list';
@use 'sass:math';
@use 'sass:color';
@use 'sass:meta';
@use 'sass:string';

//
// Load Config & Variables
@import 'hui';

@include fileBanner('hui scss');

//============================================================
// UI MAIN
//============================================================
@import 'hui/root';
@import 'utilities';
@import 'bs5';
//============================================================
// HUI AUGMENTATIONS
//============================================================
@import 'hui/builder';
@import 'hui/bootswatch';
@import 'hui/typography';
@import 'hui/forms';

@include HUIButtons();

@if (global-variable-exists(brands) and length($brands) > 0) {
  @include brand-utilities;
}

//============================================================
// ADDITIONAL LIBRARIES
//============================================================
// TODO : work with this
// @import 'thirdparty/modularscale';

// Boxicons | minimal blade version
@import 'thirdparty/boxicons';
// Manually include only the animations you want in this file
// Then use the @include for the animation you want to use
// @import 'thirdparty/animate/animate';

@if $debugMode {
  @include debuggerUI();
}

//============================================================
// @TODO experimental section + patch missing &/or errors
//============================================================
.b-hug {
  margin-bottom: -0.25rem;
}

.t-hug {
  margin-top: -0.25rem;
}

.spacer {
  display: block;
  position: relative;
  height: 1px;
  z-index: 999;
  margin-top: 2.75rem;
}

.text-grey,
.text-gray {
  color: #97989f;
}

.text-body-emphasis {
  color: #a7a7a7 !important;
}

.fw-bold.text-shadow {
  font-weight: bold;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.6);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 2s linear;
  animation-fill-mode: forwards;
}

.pt-100 {
  padding-top: 100px;
}

.z-nine {
  z-index: 9;
}

a .btn.mx-auto.d-block {
  text-decoration: none !important;
}

.nice-shadow {
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}