$quote-text-color: #4f4f4f !default;
$quote-bg-color: #ededed !default;
$quote-border-color: #cccccc !default;
$quote-accent-color: #78c0a8 !default;
$page-bg: #ffffff;

@include cssvars(
  (
    quote-text-color: $quote-text-color,
    quote-bg-color: $quote-bg-color,
    quote-border-color: $quote-border-color,
    quote-accent-color: $quote-accent-color,
  )
);

blockquote.styled {
  font-size: 1.4em;
  width: 60%;
  margin: 3rem auto;
  //font-family: $SerifStack;
  color: cssvar(quote-text-color);
  padding: 1.2rem;
  line-height: 1.6;
  position: relative;

  cite {
    display: block;
    color: cssvar(quote-text-color);
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  &.bubble {
    font-style: italic;
    padding: 1.2em 30px 1.2em 1.6em;
    border-left: 1em solid cssvar(quote-accent-color);
    background: cssvar(quote-bg-color);

    &::before {
      font-family: $SansStack;
      content: "\201C";
      color: #fff;
      background: cssvar(quote-accent-color);
      width: 0.6em;
      height: 0.6em;
      line-height: 1.1em;
      font-size: 4em;
      position: absolute;
      left: -0.42em;
      top: 42%;
      border-radius: 50%;
      z-index: 99;
    }

    &::after {
      content: "";
    }

    cite {
      color: lighten($quote-text-color, 20);
    }
  }

  &.brackets {
    border: solid 1em #ccc;
    display: block;
    padding: 1em;
    background-color: cssvar(quote-bg-color);
    position: relative;

    &:before,
    &:after {
      background-color: $body;
      content: "";
      left: 2em;
      position: absolute;
      right: 2em;
      z-index: 0;
      height: 1em;
    }

    &:before {
      bottom: -1em;
      top: -1em;
    }

    &:after {
      bottom: -1em;
      top: 100%;
    }

    cite {
      color: #757575;
      display: block;
      font-size: small;
      font-style: normal;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: 0.13rem;
    }

    > * {
      position: relative;
      z-index: 1;
    }
  }

  &.small {
    font-size: 1em;

    cite {
      font-size: 0.8em;
    }
  }

  &.large {
    font-size: 2.6em;
    line-height: 1.6;

    cite {
      line-height: 1.6;
      font-size: 0.8em;
      letter-spacing: 0.1em;
      color: lighten($quote-text-color, 25);
    }
  }

  &.type2 {
    background-color: #f5f5f5;
    border-left: 5px solid #dbdbdb;
    border-radius: 3px;
    font-size: 1.15rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;

    p {
      margin: 0;
      font-size: 0.95rem;
    }

    cite {
      opacity: 0.7;
    }
  }
}

.quote {
  display: inline-block;
  margin: 1em;
  overflow: hidden;
  @if global-variable-exists(CodeFont) {
    $preFont: map.get($CodeFont, family);
    font-family: $preFont;
  } @else {
    font-family: $MonoStack;
  }
  font-weight: 300;

  blockquote {
    background-color: $body;
    border: solid 2px $border;
    display: inline-block;
    margin: 0;
    padding: 1em;
    position: relative;
    &:before {
      background-color: $body-dark;
      bottom: -10%;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: -10%;
      transform: rotate(-15deg) skew(5deg);
    }
    cite {
      display: block;
      font-style: italic;
      text-align: right;
      &:before {
        content: "- ";
      }
    }
    > * {
      position: relative;
      z-index: 1;
    }
  }
}
