$title-color: $heading;
$title-family: getfontfamily("heading");
$title-strong-color: $heading-dark;
$subtitle-color: $gray-400;
$subtitle-family: getfontfamily("primary");
$subtitle-strong-color: $gray-500;
$title-line-height: $modular-ratio;
$subtitle-line-height: $line-height-base;

.title,
.subtitle {
  font-feature-settings: "kern", "liga", "clig", "calt", "dlig";
  font-kerning: normal;
  font-variant-ligatures: common-ligatures, contextual, discretionary-ligatures;
  word-break: break-word;
  text-rendering: optimizelegibility;

  em,
  span {
    font-weight: inherit;
  }

  sub {
    font-size: 75%;
  }

  sup {
    font-size: 75%;
  }

  .tag {
    vertical-align: middle;
  }
}

.title {

  font-size: $title-size;
  font-weight: $title-weight;
  line-height: $title-line-height;
  color: $title-color;
  letter-spacing: .5px;

  @if $title-family {
    font-family: $title-family;
  }

  strong {
    font-weight: $title-strong-weight;
    color: $title-strong-color;
    letter-spacing: .75px;
  }

  // Sizes
  @each $key, $size in $font-sizes {
    $modSize: $title-size + $size - $block-spacing;
    $newTitleSize: control-scale($modSize, $size);
    &.title-#{$key} {
      font-size: $newTitleSize;
    }
  }
}

.subtitle {
  margin-top: -#{strip_units($subtitle-line-height) * 1rem};

  font-size: $subtitle-size;
  font-weight: $subtitle-weight;
  line-height: $subtitle-line-height;
  color: $subtitle-color;
  letter-spacing: 2px;

  &.make-spaced {
    margin-top: $sz_2;
    letter-spacing: 3.5px;
  }

  @if $subtitle-family {
    font-family: $subtitle-family;
  }

  strong {
    font-weight: $subtitle-strong-weight;
    color: $subtitle-strong-color;
  }

  // Sizes
  @each $key, $size in $font-sizes {
    $modSize: $subtitle-size + $size - $block-spacing;
    $newTitleSize: control-scale($modSize, $size);
    &.title-#{$key} {
      font-size: $newTitleSize;
    }
  }
}

// [class^="display-*"] {
//   font-family: $display-font-family;
//   font-style:  $display-font-style;
//   font-weight: $display-font-weight;
//   line-height: $display-line-height;
// }

@if ($enable-display-sizes) {
  //$dTarget: "";
  $base-multi: 1;
  $multiplier: 0;
  $count: 0;
  $total: length($display-font-sizes);
  @each $name, $width in $grid-breakpoints {
    $multiplier: if($count > 0, ($count * .1) + $base-multi, 1);
    @include media-breakpoint-up($name, $grid-breakpoints) {
      @each $display, $font-size in $display-font-sizes {
        //@debug "#{$multiplier} times #{$font-size}";
        .display#{breakpoint-infix($name, $grid-breakpoints)}-#{$display} {
          $resp-font-size: #{$font-size * $multiplier};
          @include font-size($resp-font-size);
        }
        // $dTarget: $dTarget +
        //   ".display#{breakpoint-infix($name, $grid-breakpoints)}-#{$display},";
      }
    }
    $count: $count + 1;
  }

  // #{unquote($dTarget)} {
  //   font-family: $display-font-family;
  //   font-style: $display-font-style;
  //   font-weight: $display-font-weight;
  //   line-height: $display-line-height;
  // }
  [class^="display-*"] {
    font-family: $display-font-family;
    font-style: $display-font-style;
    font-weight: $display-font-weight;
    line-height: $display-line-height;
  }
}
// // Type display classes
// @each $display, $font-size in $display-font-sizes {
//   .display-#{$display} {
//     @include font-size($font-size);
//     font-family: $display-font-family;
//     font-style: $display-font-style;
//     font-weight: $display-font-weight;
//     line-height: $display-line-height;
//   }
// }
