// =============================================================================
// TYPESET PLUGIN
// =============================================================================

.fraction {
  font-kerning: normal;
  font-variant-ligatures: common-ligatures, contextual;
  font-variant-numeric: diagonal-fractions;
  font-feature-settings: "kern", "liga", "clig", "calt", "frac";
}

.fn {
  font-kerning: normal;
  font-variant-ligatures: common-ligatures, contextual;
  font-variant-position: sub;
  font-feature-settings: "kern", "liga", "clig", "calt", "subs";
}

.text-break {
  word-break: break-word !important; // Deprecated, but avoids issues with flex containers
  word-wrap: break-word !important; // Used instead of `overflow-wrap` for IE & Edge Legacy
}

// Small caps
.small-caps {
  font-variant: small-cap;
}

// Double quote (") marks
.pull-double {
  margin-left: -0.46em;
}

.push-double {
  margin-right: 0.46em;
}

// Single quote (') marks
.pull-single {
  margin-left: -0.27em;
}

.push-single {
  margin-right: 0.27em;
}

.pull-double,
.push-double,
.pull-single,
.push-single {
  display: inline-block;
}

// Optical margin alignment for particular letters
.pull-T,
.pull-V,
.pull-W,
.pull-Y {
  margin-left: -0.07em;
}

.push-T,
.push-V,
.push-W,
.push-Y {
  margin-right: 0.07em;
}

.pull-O,
.pull-C,
.pull-o,
.pull-c {
  margin-left: -0.04em;
}

.push-O,
.push-C,
.push-o,
.push-c {
  margin-right: 0.04em;
}

.pull-A {
  margin-left: -0.03em;
}

.push-A {
  margin-right: 0.03em;
}

.drop-cap {
  @include Harmonic_Dropcap();
}

/* TODO: Fix $caption; */
.caption {
  //color: $caption;
  color: #4f4f4f;
}

.upper {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.small-caps {
  font-feature-settings: "smcp" 1, "kern" 1;
  letter-spacing: 0.1rem;
}

.lining-numerals {
  font-feature-settings: "lnum" 1, "kern" 1;
}

.oldstyle-numerals {
  font-feature-settings: "onum" 1, "kern" 1;
}
