// Shards Typography Adjustments

//
// Google Fonts
//

@if $enable-fonts-import {
  @import "$google-fonts-import";
}

// Typography
//
// 1. Remove top margins from headings
//    By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
//    margin for easier control within type scales as it avoids margin collapsing.

%heading {
  margin-top: 0; // 1
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-style: $headings-font-style;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: var(--#{$prefix}heading-color);
}

h1 {
  @extend %heading;
  @include font-size($h1-font-size);
}

h2 {
  @extend %heading;
  @include font-size($h2-font-size);
}

h3 {
  @extend %heading;
  @include font-size($h3-font-size);
}

h4 {
  @extend %heading;
  @include font-size($h4-font-size);
}

h5 {
  @extend %heading;
  @include font-size($h5-font-size);
}

h6 {
  @extend %heading;
  @include font-size($h6-font-size);
}

.h1 {
  @extend h1;
}

.h2 {
  @extend h2;
}

.h3 {
  @extend h3;
}

.h4 {
  @extend h4;
}

.h5 {
  @extend h5;
}

.h6 {
  @extend h6;
}

.lead {
  @include font-size($lead-font-size);
  font-weight: $lead-font-weight;
}

// Type display classes
@each $display, $font-size in $display-font-sizes {
  .display-#{$display} {
    @include font-size($font-size);
    font-family: $display-font-family;
    font-style: $display-font-style;
    font-weight: $display-font-weight;
    line-height: $display-line-height;
  }
}

//
// Emphasis
//
.small {
  @extend small;
}

.mark {
  @extend mark;
}

//
// Lists
//

.list-unstyled {
  @include list-unstyled();
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled();
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}

//
// Misc
//

// Builds on `abbr`
.initialism {
  @include font-size($initialism-font-size);
  text-transform: uppercase;
}

// Blockquotes
.blockquote {
  margin-bottom: $blockquote-margin-y;
  @include font-size($blockquote-font-size);

  > :last-child {
    margin-bottom: 0;
  }
}

.blockquote-footer {
  margin-top: -$blockquote-margin-y;
  margin-bottom: $blockquote-margin-y;
  @include font-size($blockquote-footer-font-size);
  color: $blockquote-footer-color;

  &::before {
    content: "\2014\00A0"; // em dash, nbsp
  }
}

// Ensure elements that are not headings are properly
// displayed as block level elements.
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  color: $headings-color;
}

h1,
.h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  letter-spacing: $headings-letter-spacing;
}

h2,
.h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  letter-spacing: $headings-letter-spacing;
}

h3,
.h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
}

h4,
.h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
}

h5,
.h5 {
  font-size: $h5-font-size;
  line-height: $h5-line-height;
}

h6,
.h6 {
  font-size: $h6-font-size;
  line-height: $h6-line-height;
}

.lead {
  line-height: $lead-line-height;
}

// Type display classes
.display-1,
.display-2,
.display-3,
.display-4 {
  margin-bottom: $display-margin-bottom;
  color: $headings-color;
}

.display-1 {
  font-size: $display1-size;
  line-height: $display-line-height;
}

.display-2 {
  font-size: $display2-size;
  line-height: $display-line-height;
}

.display-3 {
  font-size: $display3-size;
  line-height: $display-line-height;
}

.display-4 {
  font-size: $display4-size;
  line-height: $display-line-height;
}

//
// Paragraphs
//

p {
  margin-bottom: $paragraphs-margin-bottom;
}

//
// Horizontal rules
//

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border-top: $hr-border-width solid $hr-border-color;
}

//
// Emphasis
//

small,
.small {
  font-size: $small-font-size;
  font-weight: $font-weight-normal;
}

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}

//
// Misc
//

// Blockquotes
.blockquote {
  margin-bottom: $blockquote-margin-bottom;
  font-size: $blockquote-font-size;
}

.blockquote-footer {
  font-size: $blockquote-footer-font-size;
}
