@use 'sass:map';
@use 'sass:list';
@use 'sass:math';
@use 'sass:color';
@use 'sass:meta';
@use 'sass:string';

/* Position Shorthands */
.p-relative {
  position: relative !important;
}

.p-absolute {
  position: absolute !important;
}

.p-fixed {
  position: fixed !important;
}

.float-end {
  float: right;
}

.float-start {
  float: left;
}

.img-cap {
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
}

/**
 * = Shadows
 */
[class*='shadow'] {
  transition: all 0.2s ease;
}

.shadow-xl {
  box-shadow: 0 1rem 1rem -0.5rem rgb(244 246 252 / 25%) !important;
}

.shadow-pixel {
  box-shadow: 0.2rem 0.2rem 0 rgb(244 246 252 / 50%) !important;
}

.shadow-soft {
  box-shadow: 0 0.75rem 1.5rem rgb(227 227 227 / 3%) !important;
}

.shadow-box {
  box-shadow: -8px 32px 50px rgb(21 33 41 / 10%) !important;
}

.shadow-hover:hover {
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 17.5%) !important;
}

.shadow-sm-hover:hover {
  box-shadow: 0 0.125rem 0.25rem rgb(13 20 49 / 7%) !important;
}

.shadow-lg-hover:hover {
  box-shadow: 0 1rem 3rem rgb(13 20 49 / 17.5%) !important;
}

.shadow-none-hover:hover {
  box-shadow: none !important;
}

/* SCSS NUMBER LOOPS */

@each $amount in $default-ui-sizes {
  $i: list.index($default-ui-sizes, $amount);

  // widths & heights
  .h-#{$amount}px {
    height: #{$amount}px !important;
  }

  .w-#{$amount}px {
    width: #{$amount}px !important;
  }

  // icon sizes
  .i-#{$amount} {
    width: #{$amount}px;
    height: #{$amount}px;
  }

  .z-#{$amount} {
    z-index: #{$amount} !important;
  }

  @if $enable-pixel-values {

    // padding classes
    .pt-#{$amount} {
      padding-top: #{$amount}px !important;
    }

    .pb-#{$amount} {
      padding-bottom: #{$amount}px !important;
    }

    .pl-#{$amount} {
      padding-left: #{$amount}px !important;
    }

    .pr-#{$amount} {
      padding-right: #{$amount}px !important;
    }

    // margin classes
    .mt-#{$amount} {
      margin-top: #{$amount}px !important;
    }

    .mb-#{$amount} {
      margin-bottom: #{$amount}px !important;
    }

    .ml-#{$amount} {
      margin-left: #{$amount}px !important;
    }

    .mr-#{$amount} {
      margin-right: #{$amount}px !important;
    }

    .mx-#{$amount} {
      margin-left: #{$amount}px !important;
      margin-right: #{$amount}px !important;
    }

    .my-#{$amount} {
      margin-top: #{$amount}px !important;
      margin-bottom: #{$amount}px !important;
    }

    .m-#{$amount} {
      margin: #{$amount}px !important;
    }

    .p-#{$amount} {
      padding: #{$amount}px !important;
    }

    .py-#{$amount} {
      padding-top: #{$amount}px !important;
      padding-bottom: #{$amount}px !important;
    }

    .px-#{$amount} {
      padding-left: #{$amount}px !important;
      padding-right: #{$amount}px !important;
    }

  }

}

/* Mono Fill Classes */
@each $key, $value in $mono {
  .fill-color-mono-#{$key} {
    fill: $value;
    color: $value;
  }
}

// Generate background opacity classes for specified values
$opacities: 100, 90, 80, 75, 60, 50, 40, 25, 10, 0;

@each $opacity in $opacities {
  .bg-opacity-#{$opacity} {
    opacity: math.div($opacity, 100);
  }
}

// Sections
.section {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-header {
  position: relative;
  padding-top: 9rem;
  padding-bottom: 3rem;
}

@media (width >=576px) {
  .section {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .section-header {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .section-header.section-sm {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .section-xl {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .section-lg {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .section-sm {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@include media-breakpoint-up(lg) {
  .section {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .section-header {
    position: relative;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .section-header.section-sm {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .section-xl {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .section-lg {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .section-sm {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@include media-breakpoint-up(md) {
  .section-hero {
    height: 100vh;
  }
}