//
//   HUEMENT PRESENTS:
//   ┏━┓┳  ┏━┓┳━┓┳━┓┳  ┓━┓
//   ┃ ┳┃  ┃ ┃┃━┃┃━┫┃  ┗━┓
//   ┇━┛┇━┛┛━┛┇━┛┛ ┇┇━┛━━┛
//

//============================================================
// Ratios
//============================================================
$MINOR_SECOND: 1.067;
$MAJOR_SECOND: 1.125;
$MINOR_THIRD: 1.2;
$MAJOR_THIRD: 1.25;
$PERFECT_FOURTH: 1.333;
$AUGMENTED_FOURTH: 1.414;
$PERFECT_FIFTH: 1.5;
$MINOR_SIXTH: 1.6;
$GOLDEN_SECTION: 1.618;
$MAJOR_SIXTH: 1.667;
$MINOR_SEVENTH: 1.778;
$MAJOR_SEVENTH: 1.875;
$OCTAVE: 2;
$MAJOR_TENTH: 2.5;
$MAJOR_ELEVENTH: 2.667;
$MAJOR_TWELFTH: 3;
$DOUBLE_OCTAVE: 4;

$aspect-ratios: (
  '1x1': 100%,
  '4x3': calc(3 / 4 * 100%),
  '16x9': calc(9 / 16 * 100%),
  '21x9': calc(9 / 21 * 100%)
);

$position-values: (
  0: 0,
  50: 50%,
  100: 100%
);

//============================================================
// Fonts
//============================================================
// prettier-ignore
$SansStack:  -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// prettier-ignore
$MonoStack: sfmono-regular, menlo, monaco, consolas, "Andale Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;

// prettier-ignore
$SerifStack: "Iowan Old Style", "Apple Garamond", baskerville, "Times New Roman", "Droid Serif", times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$not-integer-txt: ' value breaks vertical rhythm. Use an integer (whole number) for $lines.';

// Social Media color codes for a lot of sites
$SocialColors: (
  adn: #504e54,
  apple: #aeb5c5,
  android: #a5c63b,
  bitbucket: #036,
  bitcoin: #f7931a,
  css3: #1572b7,
  dribbble: #f46899,
  dropbox: #018bd3,
  facebook: #3c599f,
  flickr: #ff0084,
  foursquare: #0086be,
  github: #070709,
  google: #cf3d2e,
  html5: #e54d26,
  instagram: #a1755c,
  linkedin: #0085ae,
  linux: #fbc002,
  maxcdn: #f6ae1c,
  pagelines: #241e20,
  pinterest: #cc2127,
  renren: #025dac,
  skype: #01aef2,
  stack-exchange: #245590,
  stack-overflow: #ff7300,
  trello: #265a7f,
  tumblr: #314e6c,
  twitter: #32ccfe,
  vimeo: #229acc,
  vk: #375474,
  weibo: #d72b2b,
  windows: #12b6f3,
  xing: #00555c,
  youtube: #c52f30
);

// only include the icons we want
$icon-socials: facebook, twitter, linkedin, dribbble;

// only enable if we have said we want at least one
$enable-icons-social: if(list.length($icon-socials) > 0, true, false);

//============================================================
// UI Requires
//============================================================

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

// scss-docs-start zindex-stack
$zindex-0: 1;
$zindex-1: 100;
$zindex-2: 200;
$zindex-3: 300;
$zindex-4: 400;
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-offcanvas-backdrop: 1040;
$zindex-offcanvas: 1045;
$zindex-modal-backdrop: 1050;
$zindex-modal: 1055;
$zindex-navbar: 600;
$zindex-popover: 1070;
$zindex-toast: 1090;
$zindex-tooltip: 1080;
$zindex-sticky: 900;
// scss-docs-end zindex-stack

// scss-docs-start zindex-levels-map
$zindex-levels: (
  n1: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3
);
// scss-docs-end zindex-levels-map

// =======================================================================
// Extras
// =======================================================================
$debug: true;
