//  ■■■■■■■■■■■■■■■■■■▶ HUEMENT PRESENTS ◀■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//
//    ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
//      _palette.scss
//      AUG 14 2025
//      VER 0.9.9
//      @huement/ui generated file > npm run build:colors
//    ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//

$blue-100: #003454 !default;
$blue-200: #004570 !default;
$blue-300: #00568C !default;
$blue-400: #0068A8 !default;
$blue-500: #1982c4 !default;
$blue-600: #369FE0 !default;
$blue-700: #52BBFC !default;
$blue-800: #6EC7FF !default;
$blue-900: #8AD2FF !default;

$blue-stack: (
100: #003454,
200: #004570,
300: #00568C,
400: #0068A8,
500: #1982c4,
600: #369FE0,
700: #52BBFC,
800: #6EC7FF,
900: #8AD2FF
) !default;

$hui-blue: (
hex: #1982c4,
light: #6EC7FF,
dark: #004570
) !default;

$indigo-100: #140036 !default;
$indigo-200: #1E0052 !default;
$indigo-300: #28006E !default;
$indigo-400: #32008A !default;
$indigo-500: #4f1ba6 !default;
$indigo-600: #6B38C2 !default;
$indigo-700: #8754DE !default;
$indigo-800: #A370FA !default;
$indigo-900: #B68CFF !default;

$indigo-stack: (
100: #140036,
200: #1E0052,
300: #28006E,
400: #32008A,
500: #4f1ba6,
600: #6B38C2,
700: #8754DE,
800: #A370FA,
900: #B68CFF
) !default;

$hui-indigo: (
hex: #4f1ba6,
light: #A370FA,
dark: #1E0052
) !default;

$purple-100: #260038 !default;
$purple-200: #3A0054 !default;
$purple-300: #4D0070 !default;
$purple-400: #60008C !default;
$purple-500: #7405a9 !default;
$purple-600: #9121C4 !default;
$purple-700: #AD3DE0 !default;
$purple-800: #C959FC !default;
$purple-900: #D375FF !default;

$purple-stack: (
100: #260038,
200: #3A0054,
300: #4D0070,
400: #60008C,
500: #7405a9,
600: #9121C4,
700: #AD3DE0,
800: #C959FC,
900: #D375FF
) !default;

$hui-purple: (
hex: #7405a9,
light: #C959FC,
dark: #3A0054
) !default;

$pink-100: #8F0043 !default;
$pink-200: #AB0050 !default;
$pink-300: #C71266 !default;
$pink-400: #E32E82 !default;
$pink-500: #ff4b9f !default;
$pink-600: #FF66AD !default;
$pink-700: #FF82BC !default;
$pink-800: #FF9ECB !default;
$pink-900: #FFBADA !default;

$pink-stack: (
100: #8F0043,
200: #AB0050,
300: #C71266,
400: #E32E82,
500: #ff4b9f,
600: #FF66AD,
700: #FF82BC,
800: #FF9ECB,
900: #FFBADA
) !default;

$hui-pink: (
hex: #ff4b9f,
light: #FF9ECB,
dark: #AB0050
) !default;

$red-100: #8F0030 !default;
$red-200: #AB0039 !default;
$red-300: #C70042 !default;
$red-400: #E3004C !default;
$red-500: #ff0054 !default;
$red-600: #FF1C68 !default;
$red-700: #FF387A !default;
$red-800: #FF548D !default;
$red-900: #FF70A0 !default;

$red-stack: (
100: #8F0030,
200: #AB0039,
300: #C70042,
400: #E3004C,
500: #ff0054,
600: #FF1C68,
700: #FF387A,
800: #FF548D,
900: #FF70A0
) !default;

$hui-red: (
hex: #ff0054,
light: #FF548D,
dark: #AB0039
) !default;

$orange-100: #8C2A00 !default;
$orange-200: #A83200 !default;
$orange-300: #C4460F !default;
$orange-400: #E0622B !default;
$orange-500: #fd7e47 !default;
$orange-600: #FF9263 !default;
$orange-700: #FFA680 !default;
$orange-800: #FFB99C !default;
$orange-900: #FFCDB8 !default;

$orange-stack: (
100: #8C2A00,
200: #A83200,
300: #C4460F,
400: #E0622B,
500: #fd7e47,
600: #FF9263,
700: #FFA680,
800: #FFB99C,
900: #FFCDB8
) !default;

$hui-orange: (
hex: #fd7e47,
light: #FFB99C,
dark: #A83200
) !default;

$yellow-100: #8C8F00 !default;
$yellow-200: #A8AB00 !default;
$yellow-300: #C4C700 !default;
$yellow-400: #DFE300 !default;
$yellow-500: #fbff12 !default;
$yellow-600: #FCFF2E !default;
$yellow-700: #FCFF4A !default;
$yellow-800: #FCFF66 !default;
$yellow-900: #FDFF82 !default;

$yellow-stack: (
100: #8C8F00,
200: #A8AB00,
300: #C4C700,
400: #DFE300,
500: #fbff12,
600: #FCFF2E,
700: #FCFF4A,
800: #FCFF66,
900: #FDFF82
) !default;

$hui-yellow: (
hex: #fbff12,
light: #FCFF66,
dark: #A8AB00
) !default;

$green-100: #008C00 !default;
$green-200: #00A800 !default;
$green-300: #00C400 !default;
$green-400: #17E017 !default;
$green-500: #34fc35 !default;
$green-600: #4FFF4F !default;
$green-700: #6BFF6B !default;
$green-800: #87FF87 !default;
$green-900: #A3FFA3 !default;

$green-stack: (
100: #008C00,
200: #00A800,
300: #00C400,
400: #17E017,
500: #34fc35,
600: #4FFF4F,
700: #6BFF6B,
800: #87FF87,
900: #A3FFA3
) !default;

$hui-green: (
hex: #34fc35,
light: #87FF87,
dark: #00A800
) !default;

$teal-100: #00373D !default;
$teal-200: #005059 !default;
$teal-300: #006A75 !default;
$teal-400: #008391 !default;
$teal-500: #1CA0AE !default;
$teal-600: #38BBC9 !default;
$teal-700: #54D7E6 !default;
$teal-800: #70F1FF !default;
$teal-900: #8CF4FF !default;

$teal-stack: (
100: #00373D,
200: #005059,
300: #006A75,
400: #008391,
500: #1CA0AE,
600: #38BBC9,
700: #54D7E6,
800: #70F1FF,
900: #8CF4FF
) !default;

$hui-teal: (
hex: #1CA0AE,
light: #70F1FF,
dark: #005059
) !default;

$cyan-100: #008573 !default;
$cyan-200: #00A18B !default;
$cyan-300: #00BDA4 !default;
$cyan-400: #00D9BC !default;
$cyan-500: #00f5d4 !default;
$cyan-600: #1CFFE1 !default;
$cyan-700: #38FFE4 !default;
$cyan-800: #54FFE8 !default;
$cyan-900: #70FFEC !default;

$cyan-stack: (
100: #008573,
200: #00A18B,
300: #00BDA4,
400: #00D9BC,
500: #00f5d4,
600: #1CFFE1,
700: #38FFE4,
800: #54FFE8,
900: #70FFEC
) !default;

$hui-cyan: (
hex: #00f5d4,
light: #54FFE8,
dark: #00A18B
) !default;

$gray-100: #050505 !default;
$gray-200: #212121 !default;
$gray-300: #3D3D3D !default;
$gray-400: #595959 !default;
$gray-500: #757575 !default;
$gray-600: #919191 !default;
$gray-700: #ADADAD !default;
$gray-800: #C9C9C9 !default;
$gray-900: #E6E6E6 !default;

$gray-stack: (
100: #050505,
200: #212121,
300: #3D3D3D,
400: #595959,
500: #757575,
600: #919191,
700: #ADADAD,
800: #C9C9C9,
900: #E6E6E6
) !default;

$hui-gray: (
hex: #757575,
light: #C9C9C9,
dark: #212121
) !default;

$black-100: #000000 !default;
$black-200: #000000 !default;
$black-300: #000000 !default;
$black-400: #050505 !default;
$black-500: #212121 !default;
$black-600: #3D3D3D !default;
$black-700: #595959 !default;
$black-800: #757575 !default;
$black-900: #919191 !default;

$black-stack: (
100: #000000,
200: #000000,
300: #000000,
400: #050505,
500: #212121,
600: #3D3D3D,
700: #595959,
800: #757575,
900: #919191
) !default;

$hui-black: (
hex: #212121,
light: #757575,
dark: #000000
) !default;

$white-100: #8F8F8F !default;
$white-200: #ABABAB !default;
$white-300: #C7C7C7 !default;
$white-400: #E3E3E3 !default;
$white-500: #FEFEFE !default;
$white-600: #FFFFFF !default;
$white-700: #FFFFFF !default;
$white-800: #FFFFFF !default;
$white-900: #FFFFFF !default;

$white-stack: (
100: #8F8F8F,
200: #ABABAB,
300: #C7C7C7,
400: #E3E3E3,
500: #FEFEFE,
600: #FFFFFF,
700: #FFFFFF,
800: #FFFFFF,
900: #FFFFFF
) !default;

$hui-white: (
hex: #FEFEFE,
light: #FFFFFF,
dark: #ABABAB
) !default;


$primary: #7405a9 !default;
$secondary: #0fb2aa !default;
$success: #34fc35 !default;
$warning: #fbff12 !default;
$danger: #ff0054 !default;
$info: #1982c4 !default;
$light: #C7C7C7 !default;
$dark: #4c4c4c !default;
$black: #0F0F0F !default;
$white: #FEFEFE !default;


$hui-primary: (
hex: #7405a9,
light: #AD3DE0,
dark: #4D0070
) !default;
$hui-secondary: (
hex: #0fb2aa,
light: #47EBE2,
dark: #007A74
) !default;
$hui-success: (
hex: #34fc35,
light: #6BFF6B,
dark: #00C400
) !default;
$hui-warning: (
hex: #fbff12,
light: #FCFF4A,
dark: #C4C700
) !default;
$hui-danger: (
hex: #ff0054,
light: #FF387A,
dark: #C70042
) !default;
$hui-info: (
hex: #1982c4,
light: #52BBFC,
dark: #00568C
) !default;
$hui-light: (
hex: #C7C7C7,
light: #FFFFFF,
dark: #8F8F8F
) !default;
$hui-dark: (
hex: #4c4c4c,
light: #858585,
dark: #141414
) !default;
$hui-black: (
hex: #0F0F0F,
light: #474747,
dark: #000000
) !default;
$hui-white: (
hex: #FEFEFE,
light: #FFFFFF,
dark: #C7C7C7
) !default;

$mono-100: #050505 !default;
$mono-200: #212121 !default;
$mono-300: #3D3D3D !default;
$mono-400: #595959 !default;
$mono-500: #757575 !default;
$mono-600: #919191 !default;
$mono-700: #ADADAD !default;
$mono-800: #C9C9C9 !default;
$mono-900: #E6E6E6 !default;

$mono: (
100: #050505,
200: #212121,
300: #3D3D3D,
400: #595959,
500: #757575,
600: #919191,
700: #ADADAD,
800: #C9C9C9,
900: #E6E6E6
) !default;

$hui-mono: (
hex: #757575,
light: #C9C9C9,
dark: #212121
) !default;

$light-100: #575757 !default;
$light-200: #737373 !default;
$light-300: #8F8F8F !default;
$light-400: #ABABAB !default;
$light-500: #C7C7C7 !default;
$light-600: #E3E3E3 !default;
$light-700: #FFFFFF !default;
$light-800: #FFFFFF !default;
$light-900: #FFFFFF !default;

$light-stack: (
100: #575757,
200: #737373,
300: #8F8F8F,
400: #ABABAB,
500: #C7C7C7,
600: #E3E3E3,
700: #FFFFFF,
800: #FFFFFF,
900: #FFFFFF
) !default;

$hui-light: (
hex: #C7C7C7,
light: #FFFFFF,
dark: #737373
) !default;

$dark-100: #000000 !default;
$dark-200: #000000 !default;
$dark-300: #0F0F0F !default;
$dark-400: #2B2B2B !default;
$dark-500: #474747 !default;
$dark-600: #636363 !default;
$dark-700: #808080 !default;
$dark-800: #9C9C9C !default;
$dark-900: #B8B8B8 !default;

$dark-stack: (
100: #000000,
200: #000000,
300: #0F0F0F,
400: #2B2B2B,
500: #474747,
600: #636363,
700: #808080,
800: #9C9C9C,
900: #B8B8B8
) !default;

$hui-dark: (
hex: #474747,
light: #9C9C9C,
dark: #000000
) !default;

$base00: #212121 !default;
$base01: #3d3d3d !default;
$base02: #595959 !default;
$base03: #757575 !default;
$base04: #919191 !default;
$base05: #adadad !default;
$base06: #c9c9c9 !default;
$base07: #e6e6e6 !default;
$base08: #ff0054 !default;
$base09: #fd7e47 !default;
$base0a: #fbff12 !default;
$base0b: #3bfc43 !default;
$base0c: #02e5ac !default;
$base0d: #0fb4f0 !default;
$base0e: #1982c4 !default;
$base0f: #9B47FA !default;


$Hexidecimal: (
base00: #212121,
base01: #3d3d3d,
base02: #595959,
base03: #757575,
base04: #919191,
base05: #adadad,
base06: #c9c9c9,
base07: #e6e6e6,
base08: #ff0054,
base09: #fd7e47,
base0a: #fbff12,
base0b: #3bfc43,
base0c: #02e5ac,
base0d: #0fb4f0,
base0e: #1982c4,
base0f: #9B47FA
) !default;


