//  ■■■■■■■■■■■■■■■■■■▶ HUEMENT PRESENTS ◀■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//
//    ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
//      _palette.scss
//      JULY 13 2025
//      VER 0.8.11
//      @huement/ui generated file > npm run build:colors
//    ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//

$red-100: #8F0030 !default;
$red-200: #AB0039 !default;
$red-300: #C70042 !default;
$red-400: #E3004C !default;
$red-500: #ff0054 !default;
$red-600: #FF1C68 !default;
$red-700: #FF387A !default;
$red-800: #FF548D !default;
$red-900: #FF70A0 !default;

$reds: (
100: #8F0030,
200: #AB0039,
300: #C70042,
400: #E3004C,
500: #ff0054,
600: #FF1C68,
700: #FF387A,
800: #FF548D,
900: #FF70A0
) !default;

$mojo-red: (
hex: #ff0054,
light: #FF548D,
dark: #AB0039
) !default;

$coral-100: #8C2A00 !default;
$coral-200: #A83200 !default;
$coral-300: #C4460F !default;
$coral-400: #E0622B !default;
$coral-500: #fd7e47 !default;
$coral-600: #FF9263 !default;
$coral-700: #FFA680 !default;
$coral-800: #FFB99C !default;
$coral-900: #FFCDB8 !default;

$corals: (
100: #8C2A00,
200: #A83200,
300: #C4460F,
400: #E0622B,
500: #fd7e47,
600: #FF9263,
700: #FFA680,
800: #FFB99C,
900: #FFCDB8
) !default;

$mojo-coral: (
hex: #fd7e47,
light: #FFB99C,
dark: #A83200
) !default;

$yellow-100: #8C8F00 !default;
$yellow-200: #A8AB00 !default;
$yellow-300: #C4C700 !default;
$yellow-400: #DFE300 !default;
$yellow-500: #fbff12 !default;
$yellow-600: #FCFF2E !default;
$yellow-700: #FCFF4A !default;
$yellow-800: #FCFF66 !default;
$yellow-900: #FDFF82 !default;

$yellows: (
100: #8C8F00,
200: #A8AB00,
300: #C4C700,
400: #DFE300,
500: #fbff12,
600: #FCFF2E,
700: #FCFF4A,
800: #FCFF66,
900: #FDFF82
) !default;

$mojo-yellow: (
hex: #fbff12,
light: #FCFF66,
dark: #A8AB00
) !default;

$green-100: #008C05 !default;
$green-200: #00A806 !default;
$green-300: #03C409 !default;
$green-400: #1FE025 !default;
$green-500: #3bfc43 !default;
$green-600: #57FF5C !default;
$green-700: #73FF77 !default;
$green-800: #8FFF93 !default;
$green-900: #ABFFAE !default;

$greens: (
100: #008C05,
200: #00A806,
300: #03C409,
400: #1FE025,
500: #3bfc43,
600: #57FF5C,
700: #73FF77,
800: #8FFF93,
900: #ABFFAE
) !default;

$mojo-green: (
hex: #3bfc43,
light: #8FFF93,
dark: #00A806
) !default;

$cyan-100: #008573 !default;
$cyan-200: #00A18B !default;
$cyan-300: #00BDA4 !default;
$cyan-400: #00D9BC !default;
$cyan-500: #00f5d4 !default;
$cyan-600: #1CFFE1 !default;
$cyan-700: #38FFE4 !default;
$cyan-800: #54FFE8 !default;
$cyan-900: #70FFEC !default;

$cyans: (
100: #008573,
200: #00A18B,
300: #00BDA4,
400: #00D9BC,
500: #00f5d4,
600: #1CFFE1,
700: #38FFE4,
800: #54FFE8,
900: #70FFEC
) !default;

$mojo-cyan: (
hex: #00f5d4,
light: #54FFE8,
dark: #00A18B
) !default;

$ocean-100: #00423F !default;
$ocean-200: #005E5A !default;
$ocean-300: #007A74 !default;
$ocean-400: #00968F !default;
$ocean-500: #0fb2aa !default;
$ocean-600: #2BCFC6 !default;
$ocean-700: #47EBE2 !default;
$ocean-800: #63FFF7 !default;
$ocean-900: #80FFF9 !default;

$oceans: (
100: #00423F,
200: #005E5A,
300: #007A74,
400: #00968F,
500: #0fb2aa,
600: #2BCFC6,
700: #47EBE2,
800: #63FFF7,
900: #80FFF9
) !default;

$mojo-ocean: (
hex: #0fb2aa,
light: #63FFF7,
dark: #005E5A
) !default;

$blue-100: #003454 !default;
$blue-200: #004570 !default;
$blue-300: #00568C !default;
$blue-400: #0068A8 !default;
$blue-500: #1982c4 !default;
$blue-600: #369FE0 !default;
$blue-700: #52BBFC !default;
$blue-800: #6EC7FF !default;
$blue-900: #8AD2FF !default;

$blues: (
100: #003454,
200: #004570,
300: #00568C,
400: #0068A8,
500: #1982c4,
600: #369FE0,
700: #52BBFC,
800: #6EC7FF,
900: #8AD2FF
) !default;

$mojo-blue: (
hex: #1982c4,
light: #6EC7FF,
dark: #004570
) !default;

$violet-100: #160029 !default;
$violet-200: #250045 !default;
$violet-300: #340061 !default;
$violet-400: #43007D !default;
$violet-500: #520099 !default;
$violet-600: #6E1CB5 !default;
$violet-700: #8A38D1 !default;
$violet-800: #A654ED !default;
$violet-900: #BC70FF !default;

$violets: (
100: #160029,
200: #250045,
300: #340061,
400: #43007D,
500: #520099,
600: #6E1CB5,
700: #8A38D1,
800: #A654ED,
900: #BC70FF
) !default;

$mojo-violet: (
hex: #520099,
light: #A654ED,
dark: #250045
) !default;

$primary-100: #160029 !default;
$primary-200: #250045 !default;
$primary-300: #340061 !default;
$primary-400: #43007D !default;
$primary-500: #520099 !default;
$primary-600: #6E1CB5 !default;
$primary-700: #8A38D1 !default;
$primary-800: #A654ED !default;
$primary-900: #BC70FF !default;

$primarys: (
100: #160029,
200: #250045,
300: #340061,
400: #43007D,
500: #520099,
600: #6E1CB5,
700: #8A38D1,
800: #A654ED,
900: #BC70FF
) !default;

$mojo-primary: (
hex: #520099,
light: #A654ED,
dark: #250045
) !default;

$secondary-100: #00423F !default;
$secondary-200: #005E5A !default;
$secondary-300: #007A74 !default;
$secondary-400: #00968F !default;
$secondary-500: #0fb2aa !default;
$secondary-600: #2BCFC6 !default;
$secondary-700: #47EBE2 !default;
$secondary-800: #63FFF7 !default;
$secondary-900: #80FFF9 !default;

$secondarys: (
100: #00423F,
200: #005E5A,
300: #007A74,
400: #00968F,
500: #0fb2aa,
600: #2BCFC6,
700: #47EBE2,
800: #63FFF7,
900: #80FFF9
) !default;

$mojo-secondary: (
hex: #0fb2aa,
light: #63FFF7,
dark: #005E5A
) !default;

$mono-100: #050505 !default;
$mono-200: #212121 !default;
$mono-300: #3D3D3D !default;
$mono-400: #595959 !default;
$mono-500: #757575 !default;
$mono-600: #919191 !default;
$mono-700: #ADADAD !default;
$mono-800: #C9C9C9 !default;
$mono-900: #E6E6E6 !default;

$mono: (
100: #050505,
200: #212121,
300: #3D3D3D,
400: #595959,
500: #757575,
600: #919191,
700: #ADADAD,
800: #C9C9C9,
900: #E6E6E6
) !default;

$mojo-mono: (
hex: #757575,
light: #C9C9C9,
dark: #212121
) !default;

$light-100: #292E2C !default;
$light-200: #454A48 !default;
$light-300: #616664 !default;
$light-400: #7D8280 !default;
$light-500: #999f9d !default;
$light-600: #B5BAB8 !default;
$light-700: #D1D6D4 !default;
$light-800: #EDF2F1 !default;
$light-900: #FFFFFF !default;

$lights: (
100: #292E2C,
200: #454A48,
300: #616664,
400: #7D8280,
500: #999f9d,
600: #B5BAB8,
700: #D1D6D4,
800: #EDF2F1,
900: #FFFFFF
) !default;

$mojo-light: (
hex: #999f9d,
light: #EDF2F1,
dark: #454A48
) !default;

$dark-100: #000000 !default;
$dark-200: #000000 !default;
$dark-300: #050505 !default;
$dark-400: #212121 !default;
$dark-500: #3D3D3D !default;
$dark-600: #595959 !default;
$dark-700: #757575 !default;
$dark-800: #919191 !default;
$dark-900: #ADADAD !default;

$darks: (
100: #000000,
200: #000000,
300: #050505,
400: #212121,
500: #3D3D3D,
600: #595959,
700: #757575,
800: #919191,
900: #ADADAD
) !default;

$mojo-dark: (
hex: #3D3D3D,
light: #919191,
dark: #000000
) !default;

$base00: #212121 !default;
$base01: #3d3d3d !default;
$base02: #595959 !default;
$base03: #757575 !default;
$base04: #919191 !default;
$base05: #adadad !default;
$base06: #c9c9c9 !default;
$base07: #e6e6e6 !default;
$base08: #ff0054 !default;
$base09: #fd7e47 !default;
$base0a: #fbff12 !default;
$base0b: #3bfc43 !default;
$base0c: #00f5d4 !default;
$base0d: #0fb2aa !default;
$base0e: #1982c4 !default;
$base0f: #520099 !default;


$Hexidecimal: (
base00: #212121,
base01: #3d3d3d,
base02: #595959,
base03: #757575,
base04: #919191,
base05: #adadad,
base06: #c9c9c9,
base07: #e6e6e6,
base08: #ff0054,
base09: #fd7e47,
base0a: #fbff12,
base0b: #3bfc43,
base0c: #00f5d4,
base0d: #0fb2aa,
base0e: #1982c4,
base0f: #520099
) !default;


