//  ■■■■■■■■■■■■■■■■■■▶ HUEMENT PRESENTS ◀■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//
//    ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
//      _tokens.scss
//      APR 20 2025
//      VER 0.7.0
//      @huement/ui generated file > npm run build:chords
//    ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//

$chords: (
  xs: (
    name: xsmall,
    abrev: xs,
    width: 0,
    width_rem: 0,
    max: 0,
    max_rem: 0,
    fontSize: 16px,
    lineHeight: 1.25,
    lineHeight_px: 20px,
    lineHeight_rem: 1.25rem,
    vertical: 8,
    scale: 1.125,
    scale_name: MAJOR_SECOND,
    headings: (
      h1: 1.8rem,
      h2: 1.6rem,
      h3: 1.42rem,
      h4: 1.27rem,
      h5: 1.13rem,
      h6: 1rem
    ),
    headings_px: (
      h1: 28.83px,
      h2: 25.63px,
      h3: 22.78px,
      h4: 20.25px,
      h5: 18px,
      h6: 16px
    ),
    headingsLine: (
      h1: 2.25rem,
      h2: 2rem,
      h3: 1.78rem,
      h4: 1.58rem,
      h5: 1.41rem,
      h6: 1.25rem
    ),
    headingsLine_px: (
      h1: 36.04px,
      h2: 32.04px,
      h3: 28.48px,
      h4: 25.31px,
      h5: 22.5px,
      h6: 20px
    ),
    color: #000083
  ),
  sm: (
    name: small,
    abrev: sm,
    width: 576px,
    width_rem: 36rem,
    max: 540px,
    max_rem: 33.75rem,
    fontSize: 16px,
    lineHeight: 1.3,
    lineHeight_px: 20.8px,
    lineHeight_rem: 1.3rem,
    vertical: 8,
    scale: 1.2,
    scale_name: MINOR_THIRD,
    headings: (
      h1: 2.49rem,
      h2: 2.07rem,
      h3: 1.73rem,
      h4: 1.44rem,
      h5: 1.2rem,
      h6: 1rem
    ),
    headings_px: (
      h1: 39.81px,
      h2: 33.18px,
      h3: 27.65px,
      h4: 23.04px,
      h5: 19.2px,
      h6: 16px
    ),
    headingsLine: (
      h1: 3.23rem,
      h2: 2.7rem,
      h3: 2.25rem,
      h4: 1.87rem,
      h5: 1.56rem,
      h6: 1.3rem
    ),
    headingsLine_px: (
      h1: 51.76px,
      h2: 43.13px,
      h3: 35.94px,
      h4: 29.95px,
      h5: 24.96px,
      h6: 20.8px
    ),
    color: #003caa
  ),
  md: (
    name: medium,
    abrev: md,
    width: 768px,
    width_rem: 48rem,
    max: 720px,
    max_rem: 45rem,
    fontSize: 16px,
    lineHeight: 1.4,
    lineHeight_px: 22.4px,
    lineHeight_rem: 1.4rem,
    vertical: 12,
    scale: 1.25,
    scale_name: MINOR_THIRD,
    headings: (
      h1: 3.05rem,
      h2: 2.44rem,
      h3: 1.95rem,
      h4: 1.56rem,
      h5: 1.25rem,
      h6: 1rem
    ),
    headings_px: (
      h1: 48.83px,
      h2: 39.06px,
      h3: 31.25px,
      h4: 25px,
      h5: 20px,
      h6: 16px
    ),
    headingsLine: (
      h1: 4.27rem,
      h2: 3.42rem,
      h3: 2.73rem,
      h4: 2.19rem,
      h5: 1.75rem,
      h6: 1.4rem
    ),
    headingsLine_px: (
      h1: 68.36px,
      h2: 54.69px,
      h3: 43.75px,
      h4: 35px,
      h5: 28px,
      h6: 22.4px
    ),
    color: #03bee3
  ),
  lg: (
    name: large,
    abrev: lg,
    width: 992px,
    width_rem: 55.11rem,
    max: 960px,
    max_rem: 53.33rem,
    fontSize: 18px,
    lineHeight: 1.5,
    lineHeight_px: 27px,
    lineHeight_rem: 1.5rem,
    vertical: 12,
    scale: 1.333,
    scale_name: MAJOR_THIRD,
    headings: (
      h1: 4.21rem,
      h2: 3.16rem,
      h3: 2.37rem,
      h4: 1.78rem,
      h5: 1.33rem,
      h6: 1rem
    ),
    headings_px: (
      h1: 75.76px,
      h2: 56.83px,
      h3: 42.63px,
      h4: 31.98px,
      h5: 23.99px,
      h6: 18px
    ),
    headingsLine: (
      h1: 6.31rem,
      h2: 4.74rem,
      h3: 3.55rem,
      h4: 2.67rem,
      h5: 2rem,
      h6: 1.5rem
    ),
    headingsLine_px: (
      h1: 113.64px,
      h2: 85.25px,
      h3: 63.95px,
      h4: 47.98px,
      h5: 35.99px,
      h6: 27px
    ),
    color: #58ffaa
  ),
  xl: (
    name: xlarge,
    abrev: xl,
    width: 1200px,
    width_rem: 66.67rem,
    max: 1140px,
    max_rem: 63.33rem,
    fontSize: 18px,
    lineHeight: 1.6,
    lineHeight_px: 28.8px,
    lineHeight_rem: 1.6rem,
    vertical: 16,
    scale: 1.333,
    scale_name: PERFECT_FOURTH,
    headings: (
      h1: 4.21rem,
      h2: 3.16rem,
      h3: 2.37rem,
      h4: 1.78rem,
      h5: 1.33rem,
      h6: 1rem
    ),
    headings_px: (
      h1: 75.76px,
      h2: 56.83px,
      h3: 42.63px,
      h4: 31.98px,
      h5: 23.99px,
      h6: 18px
    ),
    headingsLine: (
      h1: 6.73rem,
      h2: 5.05rem,
      h3: 3.79rem,
      h4: 2.84rem,
      h5: 2.13rem,
      h6: 1.6rem
    ),
    headingsLine_px: (
      h1: 121.21px,
      h2: 90.93px,
      h3: 68.22px,
      h4: 51.17px,
      h5: 38.39px,
      h6: 28.8px
    ),
    color: #ffff00
  ),
  xx: (
    name: xxlarge,
    abrev: xx,
    width: 1400px,
    width_rem: 77.78rem,
    max: 1320px,
    max_rem: 73.33rem,
    fontSize: 18px,
    lineHeight: 1.6,
    lineHeight_px: 28.8px,
    lineHeight_rem: 1.6rem,
    vertical: 16,
    scale: 1.414,
    scale_name: AUGMENTED_FOURTH,
    headings: (
      h1: 5.65rem,
      h2: 4rem,
      h3: 2.83rem,
      h4: 2rem,
      h5: 1.41rem,
      h6: 1rem
    ),
    headings_px: (
      h1: 101.75px,
      h2: 71.96px,
      h3: 50.89px,
      h4: 35.99px,
      h5: 25.45px,
      h6: 18px
    ),
    headingsLine: (
      h1: 9.04rem,
      h2: 6.4rem,
      h3: 4.52rem,
      h4: 3.2rem,
      h5: 2.26rem,
      h6: 1.6rem
    ),
    headingsLine_px: (
      h1: 162.8px,
      h2: 115.13px,
      h3: 81.42px,
      h4: 57.58px,
      h5: 40.72px,
      h6: 28.8px
    ),
    color: #fc5500
  )
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xx: 1400px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xx: 1320px
) !default;

/// Default Mojo Config
$superclass: 'mojo' !default;
$mq-responsive: true !default;
$base-font-size: 16px !default;
$base-line-height: 1.5 !default;
$version: '0.7.0' !default;
$date: 'Sun Apr 20 2025' !default;
