/*
 *  ██████╗██╗      █████╗ ███████╗███████╗██╗ ██████╗
 *  ██╔════╝██║     ██╔══██╗██╔════╝██╔════╝██║██╔════╝
 *  ██║     ██║     ███████║███████╗███████╗██║██║     
 *  ██║     ██║     ██╔══██║╚════██║╚════██║██║██║     
 *  ╚██████╗███████╗██║  ██║███████║███████║██║╚██████╗
 *   ╚═════╝╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚═╝ ╚═════╝
 *  
 *  Classic Theme for HUI Framework
 *  ===============================
 */

@use 'sass:map';
@use 'sass:list';
@use 'sass:math';
@use 'sass:color';
@use 'sass:meta';
@use 'sass:string';

// Spacing

$spacer: 1rem !default;

// Links

$link-color: $primary !default;

// Components

$border-color: rgba($white, 0.2) !default;
$border-radius: 0.5rem !default;
$border-radius-sm: 0.6rem !default;
$border-radius-lg: 0.7rem !default;
$border-radius-pill: 50rem !default;
$box-shadow: 1px 3px 24px -1px rgba($black, 0.15) !default;
$box-shadow-sm: 0 1px 1px rgba($black, 0.1) !default;

// Fonts
$headings-font-weight: 700 !default;
$text-muted: rgba($white, 0.7) !default;
$blockquote-footer-color: $text-muted !default;

// Tables

$table-dark-bg: $dark !default;
$table-dark-border-color: color.adjust($dark, $lightness: 5%) !default;
$table-color: $mono-900 !default;
$table-bg-scale: 10% !default;

// Buttons
$input-btn-padding-y: 0.75rem !default;
$input-btn-padding-x: 1.125rem !default;
$input-btn-padding-y-sm: 0.375rem !default;
$input-btn-padding-x-sm: 0.75rem !default;
$input-btn-padding-y-lg: 1rem !default;
$input-btn-padding-x-lg: 1.5rem !default;
$btn-box-shadow: $box-shadow !default;
$btn-font-family: map.get($UIFont, 'family'), map.get($UIFont, 'stack');

// CTA Buttons
$ctabtn-letter-spacing: 0.3125rem !default;
$ctabtn-letter-spacing-sm: 0.1875rem !default;
$ctabtn-border: 4px solid !default;
$ctabtn-padding: 2rem !default;
$ctabtn-height: 2.5rem !default;
$ctabtn-font-size: 2.25rem !default;
$ctabtn-padding-x: 1.5625rem !default;
$ctabtn-padding-y: 1.875rem !default;
$aoibtn-padding-x: 1.1rem !default;
$aoibtn-padding-y: 1.25rem !default;

// Forms

$input-bg: transparent !default;
$input-disabled-bg: rgba($white, 0.1) !default;
$input-border-color: rgba($white, 0.4) !default;
$input-border-width: 1px !default;
$input-focus-border-color: $input-border-color !default;
$input-focus-box-shadow: none !default;
$input-placeholder-color: $text-muted !default;
$form-select-disabled-color: $input-placeholder-color !default;
$form-select-disabled-bg: $input-disabled-bg !default;
$form-switch-color: $white !default;
$form-switch-focus-color: $form-switch-color !default;
$input-group-addon-bg: transparent !default;
$form-check-input-bg: rgba($white, 0.3) !default;
$form-check-input-border: 1px solid $border-color !default;
$form-select-indicator-color: $white !default;
$form-select-focus-box-shadow: none !default;
$form-range-track-bg: rgba($black, 0.2) !default;

// Navs

$navbar-light-color: $primary !default;
$navbar-light-hover-color: map.get($hui-primary, 'light') !default;
$navbar-light-active-color: map.get($hui-primary, 'dark') !default;
$navbar-light-disabled-color: $mono-500 !default;
$navbar-light-icon-color: $primary !default;
$navbar-light-brand-color: $primary !default;
$navbar-light-brand-hover-color: $navbar-light-active-color !default;

$nav-link-disabled-color: $text-muted !default;
$nav-tabs-border-width: 0 !default;
$nav-tabs-border-radius: 0 !default;
$nav-tabs-link-active-color: $gray-800 !default;
$nav-tabs-link-active-bg: $white !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;
$nav-pills-border-radius: $border-radius-pill !default;
$nav-pills-link-active-color: $white !default;
$nav-pills-link-active-bg: $primary !default;

// Navbars

// Dropdowns

$dropdown-border-color: $border-color !default;
$dropdown-link-hover-color: $white !default;
$dropdown-link-hover-bg: rgba($white, 0.4) !default;

// Pagination

$pagination-bg: rgba($white, 0.3) !default;
$pagination-border-width: 0 !default;
$pagination-focus-color: $white !default;
$pagination-focus-bg: $dropdown-link-hover-bg !default;
$pagination-focus-box-shadow: none !default;
$pagination-hover-color: $white !default;
$pagination-hover-bg: $dropdown-link-hover-bg !default;
$pagination-disabled-color: $text-muted !default;
$pagination-disabled-bg: $pagination-bg !default;

// Cards

$card-spacer-y: 1.75rem !default;
$card-spacer-x: 2rem !default;
$card-border-color: $border-color !default;
$card-cap-bg: transparent !default;
$card-cap-color: $white !default;
$card-color: $white !default;
$card-bg: transparent !default;

// Accordion

$accordion-button-bg: $mono-500 !default;
$accordion-button-active-bg: $mono-100 !default;
$accordion-button-active-color: $mono-900 !default;

// Tooltips

$tooltip-opacity: 0.7 !default;

// Popovers

$popover-header-bg: $card-cap-bg !default;
$popover-body-color: $card-color !default;
$popover-body-padding-y: $spacer * 0.5 !default;
$popover-arrow-color: $border-color !default;
$popover-arrow-outer-color: transparent !default;

// Toasts

$toast-header-color: $card-color !default;
$toast-header-background-color: $card-cap-bg !default;
$toast-header-border-color: $border-color !default;

// Progress bars

$progress-bg: rgba($black, 0.2) !default;

// List group

$list-group-color: $mono-200 !default;
$list-group-bg: transparent !default;
$list-group-border-color: $border-color !default;
$list-group-border-width: 0 !default;
$list-group-hover-bg: $dropdown-link-hover-bg !default;
$list-group-disabled-color: $text-muted !default;
$list-group-action-color: $white !default;
$list-group-action-hover-color: $white !default;

// Breadcrumbs

$breadcrumb-divider-color: $white !default;
$breadcrumb-active-color: $white !default;

// Close

$btn-close-color: $mono-200 !default;