# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Built Items to ignore
dist/demo
dist/docs
dist/favicon
dist/fonts
dist/*.html
dist/*.png
dist/*.svg

node_modules/
node_modules1/
dist-ssr
*.local
.cache
.cache/
.cache/.stylelintcache/

modular-scale.scss
src/modular-scale.scss

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mojo Files
.env
node_modules
tsconfig 2.json
package 2.json
README-shards.md
.cache/.stylelintcache
