@import "~modularscale-sass/stylesheets/modularscale";
@import "quartz";

@import "bootstrap";

$modularscale: (
  base: 1.25rem,
  ratio: 1.414,
  768px: (
    base: 1rem,
    ratio: 1.2,
  ),
  992px: (
    base: 1.125rem,
    ratio: 1.3,
  ),
);

.mod-type {
  h1 {
    @include ms-respond(font-size, 10);
  }

  h2 {
    @include ms-respond(font-size, 8);
  }

  h3 {
    @include ms-respond(font-size, 6);
  }

  h4 {
    @include ms-respond(font-size, 4);
  }

  h5 {
    @include ms-respond(font-size, 3);
  }

  h6 {
    @include ms-respond(font-size, 2);
  }

  p,
  blockquote,
  caption {
    @include ms-respond(font-size, 1);
  }
}
