//- const stamp = Math.round(new Date().getTime() / 1000)

meta(charset="UTF-8")
title= title
meta(name="description", content= metaDesc )
meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
link(rel="icon" type="image/png", href= path +"favicon/favicon-32x32.png" sizes="32x32")
link(rel="icon" type="image/png", href= path +"favicon/favicon-16x16.png" sizes="16x16")
link(href=path +"favicon/favicon.ico" rel="shortcut icon" type="image/x-icon")

link(rel="stylesheet", href= path + "css/" + cssFile + ".css?token=" + stamp, type="text/css" id="mojo_css")
link(rel="stylesheet", href= path + "css/icons.css?token=" + stamp, type="text/css" id="mojo_icons")

if pageCSS
    link(rel="stylesheet", href= path + pageCSS + ".css?stamp=" + stamp, type="text/css" id="page_css")

if showDebug
    link(rel="stylesheet", href= path + "jollybar/debugger.css?debug=" + stamp, type="text/css")
