meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
meta(property="og:url", content="https://huement.github.io/mojo/")
meta(property="og:type", content="website")
meta(property="description", content="Mojo is a lightweight and highly themeable CSS Micro-Framework meant to be the lowest CSS layer on your app.")
meta(property="og:title", content="Mojo - A Pure CSS Micro-Framework")
meta(property="og:image", content="https://huement.github.io/mojo/mojo.png")
meta(property="og:description", content="Mojo is a lightweight and highly themeable CSS Micro-Framework meant to be the lowest CSS layer on your app.")
meta(property="og:site_name", content="Mojo - A Pure CSS Micro-Framework")
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@huement")
meta(name="twitter:creator", content="@huement")
meta(name="twitter:title", content="Mojo - A Pure CSS Micro-Framework")
meta(name="twitter:description", content="Mojo is a lightweight and highly themeable CSS Micro-Framework meant to be the lowest CSS layer on your app.")
meta(name="twitter:image", content="https://huement.github.io/mojo/mojo.png")
