@mixin alert-variant($background, $border, $color) {
  color: $color;
  @include gradient-bg($background);
  border-color: $border;

  hr {
    border-top-color: color.scale($border, $lightness: -5%);
  }

  .alert-link {
    color: color.scale($color, $lightness: -10%);
  }
}
