@mixin coolButton() {
  .cool-button {
    padding-top  : 0;
    margin       : 2rem auto 2rem auto;
    position     : relative;
    z-index      : 2;

    button {
      border            : 4px solid var(--bs-gray-800);
      padding           : 16px 24px;
      position          : relative;
      background-color  : transparent;
      transition        : border-color 0.2s ease-in;

      span {
        font-size       : 24px;
        text-transform  : uppercase;
        font-weight     : bold;
        font-family     : "Roboto", sans-serif;
        letter-spacing  : 5px;
        color           : var(--bs-gray-800);
        transition      : color 0.2s linear;
      }

      &:after {
        position          : absolute;
        top               : 10px;
        left              : 10px;
        height            : 100%;
        width             : 100%;
        background-color  : $yellow;
        content           : "";
        z-index           : -1;
        transition        : transform 0.2s ease-in, width 0.2s ease-out 0.2s;
      }

      &:hover {
        border-color  : #000;

        span {
          color  : #000;
        }

        &:after {
          transform  : translate(-10px, -10px);
          width      : calc(100% - 10px);
        }
      }

      &:active {
        &:after {
          width  : 100%;
        }
      }
    }
  }
}


/// Generates a Cool Background Wave
/// @param {*} $bgColor body background color
/// @param {*} $waveColor color of the next content block

@mixin makeWave($bgColor, $waveBase, $height: 40vh) {
  $waveColor   : str-slice(inspect($waveBase), 2);
  $waveEncode  : "%23#{$waveColor}";

  height            : $height;
  background-color  : $bgColor;
  position          : relative;

  &::before {
    content              : "";
    width                : 100%;
    height               : 144px;
    position             : absolute;
    bottom               : -0.3%;
    left                 : 0;
    background-size      : auto;
    background-repeat    : repeat no-repeat;
    background-position  : 39vw bottom;
    background-image     : url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  111' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 81L50 76C100 71 200 61 300 41C400 21 500 -8 600 1C700 11 800 61 900 81C1000 101 1100 91 1150 86L1200 81V111H1150C1100 111 1000 111 900 111C800 111 700 111 600 111C500 111 400 111 300 111C200 111 100 111 50 111H0V81Z' fill='#{$waveEncode}'/></svg>");
  }

  @media (max-width: 850px) {
    &::before {
      height  : 72px;
    }
  }
}

@mixin text-shadow($string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
  text-shadow  : $string;
}

@mixin box-shadow($string) {
  -webkit-box-shadow  : $string;
  -moz-box-shadow     : $string;
  box-shadow          : $string;
}

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing  : $type;
  -moz-box-sizing     : $type;
  box-sizing          : $type;
}

@mixin border-radius($radius: 5px) {
  -webkit-border-radius  : $radius;
  -moz-border-radius     : $radius;
  -ms-border-radius      : $radius;
  -o-border-radius       : $radius;
  border-radius          : $radius;

  -moz-background-clip     : padding;
  -webkit-background-clip  : padding-box;
  background-clip          : padding-box;
}

@mixin border-radiuses($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
  -webkit-border-top-right-radius     : $topright;
  -webkit-border-bottom-right-radius  : $bottomright;
  -webkit-border-bottom-left-radius   : $bottomleft;
  -webkit-border-top-left-radius      : $topleft;

  -moz-border-radius-topright     : $topright;
  -moz-border-radius-bottomright  : $bottomright;
  -moz-border-radius-bottomleft   : $bottomleft;
  -moz-border-radius-topleft      : $topleft;

  border-top-right-radius     : $topright;
  border-bottom-right-radius  : $bottomright;
  border-bottom-left-radius   : $bottomleft;
  border-top-left-radius      : $topleft;

  -moz-background-clip     : padding;
  -webkit-background-clip  : padding-box;
  background-clip          : padding-box;
}

@mixin opacity($opacity: 0.5) {
  -webkit-opacity  : $opacity;
  -moz-opacity     : $opacity;
  opacity          : $opacity;
}

@mixin gradient($startColor: #eee, $endColor: white) {
  background-color  : $startColor;
  background        : -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
  background        : -webkit-linear-gradient(top, $startColor, $endColor);
  background        : -moz-linear-gradient(top, $startColor, $endColor);
  background        : -ms-linear-gradient(top, $startColor, $endColor);
  background        : -o-linear-gradient(top, $startColor, $endColor);
}

@mixin horizontal-gradient($startColor: #eee, $endColor: white) {
  background-color  : $startColor;
  background-image  : -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
  background-image  : -webkit-linear-gradient(left, $startColor, $endColor);
  background-image  : -moz-linear-gradient(left, $startColor, $endColor);
  background-image  : -ms-linear-gradient(left, $startColor, $endColor);
  background-image  : -o-linear-gradient(left, $startColor, $endColor);
}

@mixin animation($name, $duration: 300ms, $delay: 0, $ease: ease) {
  -webkit-animation  : $name $duration $delay $ease;
  -moz-animation     : $name $duration $delay $ease;
  -ms-animation      : $name $duration $delay $ease;
}

@mixin transition($transition) {
  -webkit-transition  : $transition;
  -moz-transition     : $transition;
  -ms-transition      : $transition;
  -o-transition       : $transition;
}

@mixin transform($string) {
  -webkit-transform  : $string;
  -moz-transform     : $string;
  -ms-transform      : $string;
  -o-transform       : $string;
}

@mixin scale($factor) {
  -webkit-transform  : scale($factor);
  -moz-transform     : scale($factor);
  -ms-transform      : scale($factor);
  -o-transform       : scale($factor);
}

@mixin rotate($deg) {
  -webkit-transform  : rotate($deg);
  -moz-transform     : rotate($deg);
  -ms-transform      : rotate($deg);
  -o-transform       : rotate($deg);
}

@mixin skew($deg, $deg2) {
  -webkit-transform  : skew($deg, $deg2);
  -moz-transform     : skew($deg, $deg2);
  -ms-transform      : skew($deg, $deg2);
  -o-transform       : skew($deg, $deg2);
}

@mixin translate($x, $y: 0) {
  -webkit-transform  : translate($x, $y);
  -moz-transform     : translate($x, $y);
  -ms-transform      : translate($x, $y);
  -o-transform       : translate($x, $y);
}

@mixin translate3d($x, $y: 0, $z: 0) {
  -webkit-transform  : translate3d($x, $y, $z);
  -moz-transform     : translate3d($x, $y, $z);
  -ms-transform      : translate3d($x, $y, $z);
  -o-transform       : translate3d($x, $y, $z);
}

@mixin perspective($value: 1000) {
  -webkit-perspective  : $value;
  -moz-perspective     : $value;
  -ms-perspective      : $value;
  perspective          : $value;
}

@mixin transform-origin($x: center, $y: center) {
  -webkit-transform-origin  : $x $y;
  -moz-transform-origin     : $x $y;
  -ms-transform-origin      : $x $y;
  -o-transform-origin       : $x $y;
}

@mixin reset-box-sizing($size: content-box) {

  &,
  *,
  *:before,
  *:after {
    @include box-sizing($size);
  }
}

@mixin truncate($max-width: 250px) {
  max-width      : $max-width;
  white-space    : nowrap;
  overflow       : hidden;
  text-overflow  : ellipsis;
}

@mixin background-size($string: contain) {
  -webkit-background-size  : $string;
  -moz-background-size     : $string;
  -o-background-size       : $string;
  background-size          : $string;
}

@mixin placeholder($color: #999) {
  &::-webkit-input-placeholder {
    /* WebKit browsers */
    color  : $color;
  }

  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color  : $color;
  }

  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color  : $color;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color  : $color;
  }
}
