@mixin getTriangleUp($size, $color) {
  $base: $size * 2;

  width: 0;
  height: 0;
  border-right: $size solid transparent;
  border-bottom: $base solid $color;
  border-left: $size solid transparent;
}

@mixin getTriangleDown($size, $color) {
  $base: $size * 2;

  width: 0;
  height: 0;
  border-top: $base solid $color;
  border-right: $size solid transparent;
  border-left: $size solid transparent;
}

@mixin getTriangleRight($size, $color) {
  $base: $size * 2;

  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-bottom: $size solid $color;
  border-left: $base solid transparent;
}

@mixin getTriangleLeft($size, $color) {
  $base: $size * 2;

  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-right: $base solid transparent;
  border-bottom: $size solid $color;
}

@mixin getDiamond($size, $color) {
  /* Modify size here: */
  --size: $size;
  --quarter-size: calc(var(--size) / 4);
  position: relative;
  box-sizing: content-box;
  width: calc(var(--size) / 2);
  height: 0;
  margin: 0 0 calc(var(--size) / 2) 0;
  border-color: transparent transparent $color transparent;

  border-style: solid;
  border-width: 0 var(--quarter-size) var(--quarter-size) var(--quarter-size);

  &::after {
    position: absolute;
    top: var(--quarter-size);
    left: calc(var(--quarter-size) * -1);
    width: 0;
    height: 0;
    content: "";
    border-color: $color transparent transparent transparent;
    border-style: solid;
    border-width:
      calc(var(--size) * .7) calc(var(--size) / 2) 0
      calc(var(--size) / 2);
  }
}

@mixin getTVScreen($size, $color, $text: white) {
  $height: calc($size * .8);

  position: relative;
  width: $size;
  height: $height;
  color: $text;
  text-align: center;
  background: $color;
  border-radius: 50% / 10%;

  &::before {
    position: absolute;
    top: 10%;
    right: -5%;
    bottom: 10%;
    left: -5%;
    content: "";
    background: inherit;
    border-radius: 5% / 50%;
  }
}
