$tile-breakpoint: getbreakpoint($break-point-limit) !default;

// TODO : Update SCSS body paragraph styles to include things like .text-body2 .lead2

.empty {
  padding: $sz_20 $sz_14;
  color: $gray-300;
  text-align: center;
  background: $gray-700;
  border-radius: $border-radius;

  .empty-icon {
    margin-bottom: $sz_12;
  }

  .empty-title,
  .empty-subtitle {
    margin: $sz_8 auto;
  }

  .empty-action {
    margin-top: $sz_12;
  }
}

//
// Vertical Rhythm Spacing Block Base
.vr-block {
  position: relative;
  display: block;
  width: auto;
  min-width: 1px;
}

.tile {
  display: block;
  flex: 1 1 0;
  align-items: stretch;
  min-height: min-content;

  // Modifiers
  &.tile-ancestor {
    margin-top: $tile-spacing * -1;
    margin-right: $tile-spacing * -1;
    margin-left: $tile-spacing * -1;

    &:last-child {
      margin-bottom: $tile-spacing * -1;
    }

    &:not(:last-child) {
      margin-bottom: $tile-spacing;
    }
  }

  &.tile-child {
    margin: 0 !important;
  }

  &.tile-parent {
    padding: $tile-spacing;
  }

  &.tile-vertical {
    flex-direction: column;

    > .tile.tile-child:not(:last-child) {
      margin-bottom: 1.5rem !important;
    }
  }

  // Responsiveness
  @media screen and (min-width: $tile-breakpoint) {
    &:not(.tile-child) {
      display: flex;
    }

    @for $i from 1 through 12 {
      &.tile-#{$i} {
        flex: none;
        width: math.div($i, 12) * 100%;
      }
    }
  }
}

// Images Adjustments
.img-fluid,
.img-responsive {
  // Part 1: Set a maximum relative to the parent
  max-width: 100%;

  // Part 2: Override the height to auto, otherwise images will be stretched
  // when setting a width and height attribute on the img element.
  height: auto;
}

// Image thumbnails
.img-thumbnail {
  padding: $thumbnail-padding;
  background-color: $thumbnail-bg;
  border: $thumbnail-border;

  @include border-radius($thumbnail-border-radius);
  @include box-shadow($thumbnail-box-shadow);
}

.img-center {
  position: relative;
  display: block;
  margin: 0 auto;
}

//
// Figures
//

.figure-img {
  margin-bottom: calc($spacer / 2);
}

.figure-caption {
  font-size: $figure-caption-font-size;
  color: $figure-caption-color;
}
