//
// HERO : Mojo's standin for the old Jumbotron component
//        Borrowed heavinly from Bulma's 0.9ish library

$hero-body-padding: 3rem 1.5rem !default;
$hero-body-padding-tablet: 3rem 3rem !default;
$hero-body-padding-small: 2rem 1.5rem !default;
$hero-body-padding-medium: 9rem 4.5rem !default;
$hero-body-padding-large: 18rem 6rem !default;
$hero-title: 3.5rem !default;
$hero-subtitle: 2.8rem !default;
$hero-subtitle-sm: 2.4rem !default;
$desktop: map-get($grid-breakpoints, 'lg');
$tablet: map-get($grid-breakpoints, 'md');
$mobile: map-get($grid-breakpoints, 'sm');

// Hero
.hero {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  .navbar {
    background: none;
  }

  .tabs {
    ul {
      border-bottom: none;
    }
  }

  .title,
  .subtitle {
    @include block;

    sub {
      font-size: 0.75em;
    }

    sup {
      font-size: 0.75em;
    }

    .tag {
      vertical-align: middle;
    }
  }

  .title {
    @include rfs($hero-title);
  }

  .subtitle {
    @include rfs($hero-subtitle);

    &.subtitle-sm {
      @include rfs($hero-subtitle-sm);
    }
  }

  // Sizes
  &.hero-small {
    .hero-body {
      padding: $hero-body-padding-small;

      .title {
        padding-top: $sz_2;
        font-size: $sz_5;
      }

      .subtitle {
        font-size: $sz_4;
      }
    }
  }

  &.hero-medium {
    .hero-body {
      .title {
        font-size: $sz_6;
      }

      .subtitle {
        font-size: $sz_5;
      }
    }

    @media screen and (min-width: $tablet), print {
      .hero-body {
        padding: $hero-body-padding-medium;
      }
    }
  }

  &.hero-large {
    @media screen and (min-width: $tablet), print {
      .hero-body {
        padding: $hero-body-padding-large;
      }
    }
  }

  &.hero-halfheight,
  &.hero-fullheight,
  &.hero-fullheight-with-navbar {
    .hero-body {
      display: flex;
      align-items: center;

      > .container {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
  }

  &.hero-halfheight {
    min-height: 50vh;
  }

  &.hero-fullheight {
    min-height: 100vh;
  }
}

// Components

.hero-video {
  @include overlay;

  overflow: hidden;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate3d(-50%, -50%, 0);
  }

  // Modifiers
  &.video-transparent {
    opacity: 0.3;
  }

  // Responsiveness
  @media screen and (max-width: $tablet - 1px) {
    display: none;
  }
}

.hero-buttons {
  margin-top: 1.5rem;

  // Responsiveness
  @media screen and (max-width: $tablet - 1px) {
    .button {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }
  }

  @media screen and (min-width: $tablet), print {
    display: flex;
    justify-content: center;

    .button:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}

// Containers

.hero-head,
.hero-foot {
  flex-grow: 0;
  flex-shrink: 0;
}

.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: cssvar(hero-body-padding);

  @media screen and (min-width: $tablet), print {
    padding: $hero-body-padding-tablet;
  }
}
