$quote-text-color: #4f4f4f !default;
$quote-bg-color: #ededed !default;
$quote-border-color: #ccc !default;
$quote-accent-color: #78c0a8 !default;
$page-bg: #fff;

@include cssvars(
  (
    quote-text-color: $quote-text-color,
    quote-bg-color: $quote-bg-color,
    quote-border-color: $quote-border-color,
    quote-accent-color: $quote-accent-color,
  )
);

blockquote.styled {
  position: relative;
  width: 60%;
  padding: 1.2rem;
  margin: 3rem auto;
  font-size: 1.4em;
  line-height: 1.6;

  //font-family: $SerifStack;
  color: cssvar(quote-text-color);

  cite {
    display: block;
    margin-top: 1em;
    font-style: normal;
    font-weight: 700;
    color: cssvar(quote-text-color);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  &.bubble {
    padding: 1.2em 30px 1.2em 1.6em;
    font-style: italic;
    background: cssvar(quote-bg-color);
    border-left: 1em solid cssvar(quote-accent-color);

    &::before {
      position: absolute;
      top: 42%;
      left: -0.42em;
      z-index: 99;
      width: 0.6em;
      height: 0.6em;
      font-family: $SansStack;
      font-size: 4em;
      line-height: 1.1em;
      color: #fff;
      content: '\201C';
      background: cssvar(quote-accent-color);
      border-radius: 50%;
    }

    &::after {
      content: '';
    }

    cite {
      color: color.adjust($quote-text-color, $lightness: 20%);
    }
  }

  &.brackets {
    position: relative;
    display: block;
    padding: 1em;
    background-color: cssvar(quote-bg-color);
    border: solid 1em #ccc;

    &::before,
    &::after {
      position: absolute;
      right: 2em;
      left: 2em;
      z-index: 0;
      height: 1em;
      content: '';
      background-color: $body-bg;
    }

    &::before {
      top: -1em;
      bottom: -1em;
    }

    &::after {
      top: 100%;
      bottom: -1em;
    }

    cite {
      display: block;
      font-size: small;
      font-style: normal;
      color: #757575;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: 0.13rem;
    }

    > * {
      position: relative;
      z-index: 1;
    }
  }

  &.small {
    font-size: 1em;

    cite {
      font-size: 0.8em;
    }
  }

  &.large {
    font-size: 2.6em;
    line-height: 1.6;

    cite {
      font-size: 0.8em;
      line-height: 1.6;
      color: color.adjust($quote-text-color, $lightness: 20%);
      letter-spacing: 0.1em;
    }
  }

  &.type2 {
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    font-size: 1.15rem;
    background-color: #f5f5f5;
    border-left: 5px solid #dbdbdb;
    border-radius: 3px;

    p {
      margin: 0;
      font-size: 0.95rem;
    }

    cite {
      opacity: 0.7;
    }
  }
}

.quote {
  display: inline-block;
  margin: 1em;
  overflow: hidden;

  @if global-variable-exists(CodeFont) {
    $preFont: map.get($CodeFont, family);

    font-family: $preFont;
  } @else {
    font-family: $MonoStack;
  }

  font-weight: 300;

  blockquote {
    position: relative;
    display: inline-block;
    padding: 1em;
    margin: 0;
    background-color: $body-bg;
    border: solid 2px $mono-100;

    &::before {
      position: absolute;
      inset: -10% 0;
      content: '';
      background-color: $mono-200;
      transform: rotate(-15deg) skew(5deg);
    }

    cite {
      display: block;
      font-style: italic;
      text-align: right;

      &::before {
        content: '- ';
      }
    }

    > * {
      position: relative;
      z-index: 1;
    }
  }
}
