$title-family: getfontfamily('heading');
$subtitle-family: getfontfamily('primary');
$title-line-height: $modular-ratio;
$subtitle-line-height: $line-height-base;

.title,
.subtitle {
  font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'dlig';
  font-kerning: normal;
  font-variant-ligatures: common-ligatures, contextual, discretionary-ligatures;
  word-break: break-word;
  text-rendering: optimizelegibility;

  em,
  span {
    font-weight: inherit;
  }

  sub {
    font-size: 75%;
  }

  sup {
    font-size: 75%;
  }

  .tag {
    vertical-align: middle;
  }
}

.title {
  font-size: $title-size;
  font-weight: $title-weight;
  line-height: $title-line-height;
  letter-spacing: 0.5px;

  @if $title-family {
    font-family: $title-family;
  }

  strong {
    font-weight: $title-strong-weight;
    letter-spacing: 0.75px;
  }

  // Sizes
  @each $key, $size in $font-sizes {
    $modSize: $title-size + $size - $block-spacing;
    $newTitleSize: control-scale($modSize, $size);

    &.title-#{$key} {
      font-size: $newTitleSize;
    }
  }
}

.subtitle {
  margin-top: -#{strip_units($subtitle-line-height) * 1rem};
  font-size: $subtitle-size;
  font-weight: $subtitle-weight;
  line-height: $subtitle-line-height;
  letter-spacing: 2px;

  &.make-spaced {
    margin-top: $sz_2;
    letter-spacing: 3.5px;
  }

  @if $subtitle-family {
    font-family: $subtitle-family;
  }

  strong {
    font-weight: $subtitle-strong-weight;
  }

  // Sizes
  @each $key, $size in $font-sizes {
    $modSize: $subtitle-size + $size - $block-spacing;
    $newTitleSize: control-scale($modSize, $size);

    &.title-#{$key} {
      font-size: $newTitleSize;
    }
  }
}
