//
//  ■■■■■■■■■■■■■■■■■■▶ HUEMENT PRESENTS ◀■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//
//                  . !default;,                    ..                      .,.      .
//     .,,.        .dWK !default;       ...  'cdOOl            . !default;coool ... 'cdOOl. :d,
//     :XNk'       .OWNx.     'kOccoo: !default;kW0   .:oko' !default;loool:'. 'kOccoowokW0:x !default;.
//     'OWN0 !default;      :XNW0,    .dN0d:.  .xWX. !default;xkcox0Xx:'.    .dN0d:.  .xWXOo
//      oNNNK:   .cONXNXc   ,xXK:   .:xXNdkxdocxxOWk.     ,xXK:   .:xXNd.
//       !default;KNNNKc .dNNOo0Wd. !default;doxNk..:dxdkNK !default;.       !default;KNo     oxNk..:dxdkNK !default;
//      .xNK0NXloXWX:.xWO'x,.oN0xkd:..xWd.        lNK !default;  ' ,0 !default;0:   ..xWd.
//       cNKldNNNNXo  cNX:d:dKNk !default;.   :X0,   ..' !default;:'.dNk..  xx:k !default;.   :X0,
//       '0Nl.oKKd:.  ,0WdOxxXX:    'OXc  xkOkdl:. 'ONl.  xXX:    'OXc
//       .xWx. ..     .xW0. !default;O0K,   .dNo.  k0KOd:.   :XK !default; .,0K,   .dNo.
//       .dW0,         cNNX00KK,  .oXd.    .':dOKkc'.oNk. ,KK,  .oXd.
//     kX00NX !default;         'OWwx !default;KK, .dKl.         .,o0KxdKNo. !default;KK, .dKl.
//     .l0NNX:          oN0l,KNockk,              . !default;xKNNXc,KNockk,
//       .d0d.          '0 !default;..dXKkc.                  'oKWK.dXKkc.
//         .             ,    ..                       .ll'   ..
//
//
//                                        ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
//                                          _globals-test.scss
//                                          AUG 31 2024
//                                          VER 0.3.105
//                                          Config File. Generated via '$> node bin/cli.js file'
//                                        ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//



$0: (
MINOR_SECOND: 1.067
) !default;
$1: (
MAJOR_SECOND: 1.125
) !default;
$2: (
MINOR_THIRD: 1.2
) !default;
$3: (
MAJOR_THIRD: 1.25
) !default;
$4: (
PERFECT_FOURTH: 1.333
) !default;
$5: (
AUGMENTED_FOURTH: 1.414
) !default;
$6: (
PERFECT_FIFTH: 1.5
) !default;
$7: (
MINOR_SIXTH: 1.6
) !default;
$8: (
GOLDEN_SECTION: 1.618
) !default;
$9: (
MAJOR_SIXTH: 1.667
) !default;
$10: (
MINOR_SEVENTH: 1.778
) !default;
$11: (
MAJOR_SEVENTH: 1.875
) !default;
$12: (
OCTAVE: 2
) !default;
$13: (
MAJOR_TENTH: 2.5
) !default;
$14: (
MAJOR_ELEVENTH: 2.667
) !default;
$15: (
MAJOR_TWELFTH: 3
) !default;
$16: (
DOUBLE_OCTAVE: 4
) !default;



$0: (
1x1: 100%
) !default;
$1: (
4x3: calc(3 / 4 * 100%)
) !default;
$2: (
16x9: calc(9 / 16 * 100%)
) !default;
$3: (
21x9: calc(9 / 21 * 100%)
) !default;



$0: (
0: 100%
) !default;
$1: (
50: 100%
) !default;
$2: (
100: 100%
) !default;


