//  ■■■■■■■■■■■■■■■■■■▶ HUEMENT PRESENTS ◀■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//
//    ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
//      _palette-test.scss
//      OCT 27 2024
//      VER 0.5.0
//      Design Tokens Color Palette. Generated via '$> node cli/bin/mojo.js'
//    ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//

$red-100: #870022 !default;
$red-200: #A10028 !default;
$red-300: #BA002F !default;
$red-400: #D40035 !default;
$red-500: #EC174C !default;
$red-600: #FF3064 !default;
$red-700: #FF4A77 !default;
$red-800: #FF638A !default;
$red-900: #FF7D9D !default;

$red: (
100: #870022,
200: #A10028,
300: #BA002F,
400: #D40035,
500: #EC174C,
600: #FF3064,
700: #FF4A77,
800: #FF638A,
900: #FF7D9D
) !default;

$mojo-red: (
hex: #EC174C,
light: #FF638A,
dark: #A10028
) !default;

$orange-100: #963000 !default;
$orange-200: #B03800 !default;
$orange-300: #C94C12 !default;
$orange-400: #E3652B !default;
$orange-500: #FD8046 !default;
$orange-600: #FF915E !default;
$orange-700: #FFA378 !default;
$orange-800: #FFB491 !default;
$orange-900: #FFC5AB !default;

$orange: (
100: #963000,
200: #B03800,
300: #C94C12,
400: #E3652B,
500: #FD8046,
600: #FF915E,
700: #FFA378,
800: #FFB491,
900: #FFC5AB
) !default;

$mojo-orange: (
hex: #FD8046,
light: #FFB491,
dark: #B03800
) !default;

$yellow-100: #969900 !default;
$yellow-200: #B0B300 !default;
$yellow-300: #C9CC00 !default;
$yellow-400: #E2E600 !default;
$yellow-500: #FBFE12 !default;
$yellow-600: #FBFF2B !default;
$yellow-700: #FCFF45 !default;
$yellow-800: #FCFF5E !default;
$yellow-900: #FDFF78 !default;

$yellow: (
100: #969900,
200: #B0B300,
300: #C9CC00,
400: #E2E600,
500: #FBFE12,
600: #FBFF2B,
700: #FCFF45,
800: #FCFF5E,
900: #FDFF78
) !default;

$mojo-yellow: (
hex: #FBFE12,
light: #FCFF5E,
dark: #B0B300
) !default;

$green-100: #009605 !default;
$green-200: #00B006 !default;
$green-300: #00C907 !default;
$green-400: #0AE311 !default;
$green-500: #24FC2D !default;
$green-600: #3DFF44 !default;
$green-700: #57FF5C !default;
$green-800: #70FF75 !default;
$green-900: #8AFF8E !default;

$green: (
100: #009605,
200: #00B006,
300: #00C907,
400: #0AE311,
500: #24FC2D,
600: #3DFF44,
700: #57FF5C,
800: #70FF75,
900: #8AFF8E
) !default;

$mojo-green: (
hex: #24FC2D,
light: #70FF75,
dark: #00B006
) !default;

$cyan-100: #003540 !default;
$cyan-200: #004A59 !default;
$cyan-300: #006073 !default;
$cyan-400: #00758C !default;
$cyan-500: #028AA6 !default;
$cyan-600: #1CA4BF !default;
$cyan-700: #36BED9 !default;
$cyan-800: #4FD7F2 !default;
$cyan-900: #69E6FF !default;

$cyan: (
100: #003540,
200: #004A59,
300: #006073,
400: #00758C,
500: #028AA6,
600: #1CA4BF,
700: #36BED9,
800: #4FD7F2,
900: #69E6FF
) !default;

$mojo-cyan: (
hex: #028AA6,
light: #4FD7F2,
dark: #004A59
) !default;

$blue-100: #008573 !default;
$blue-200: #009E89 !default;
$blue-300: #0DB8A1 !default;
$blue-400: #26D1BA !default;
$blue-500: #41EAD4 !default;
$blue-600: #59FFE9 !default;
$blue-700: #73FFEC !default;
$blue-800: #8CFFF0 !default;
$blue-900: #A6FFF3 !default;

$blue: (
100: #008573,
200: #009E89,
300: #0DB8A1,
400: #26D1BA,
500: #41EAD4,
600: #59FFE9,
700: #73FFEC,
800: #8CFFF0,
900: #A6FFF3
) !default;

$mojo-blue: (
hex: #41EAD4,
light: #8CFFF0,
dark: #009E89
) !default;

$ultra-100: #140030 !default;
$ultra-200: #1F004A !default;
$ultra-300: #290063 !default;
$ultra-400: #34007D !default;
$ultra-500: #3E0097 !default;
$ultra-600: #581AB0 !default;
$ultra-700: #7233C9 !default;
$ultra-800: #8B4DE3 !default;
$ultra-900: #A566FC !default;

$ultra: (
100: #140030,
200: #1F004A,
300: #290063,
400: #34007D,
500: #3E0097,
600: #581AB0,
700: #7233C9,
800: #8B4DE3,
900: #A566FC
) !default;

$mojo-ultra: (
hex: #3E0097,
light: #8B4DE3,
dark: #1F004A
) !default;

$primary-100: #005769 !default;
$primary-200: #006C82 !default;
$primary-300: #00829C !default;
$primary-400: #129AB5 !default;
$primary-500: #2bb3cf !default;
$primary-600: #45CDE8 !default;
$primary-700: #5EE4FF !default;
$primary-800: #78E8FF !default;
$primary-900: #91EDFF !default;

$primary: (
100: #005769,
200: #006C82,
300: #00829C,
400: #129AB5,
500: #2bb3cf,
600: #45CDE8,
700: #5EE4FF,
800: #78E8FF,
900: #91EDFF
) !default;

$mojo-primary: (
hex: #2bb3cf,
light: #78E8FF,
dark: #006C82
) !default;

$secondary-100: #943400 !default;
$secondary-200: #AD430A !default;
$secondary-300: #C75D24 !default;
$secondary-400: #E0763D !default;
$secondary-500: #f99157 !default;
$secondary-600: #FFA270 !default;
$secondary-700: #FFB38A !default;
$secondary-800: #FFC3A3 !default;
$secondary-900: #FFD4BD !default;

$secondary: (
100: #943400,
200: #AD430A,
300: #C75D24,
400: #E0763D,
500: #f99157,
600: #FFA270,
700: #FFB38A,
800: #FFC3A3,
900: #FFD4BD
) !default;

$mojo-secondary: (
hex: #f99157,
light: #FFC3A3,
dark: #AD430A
) !default;

$mono-100: #0F0F0F;
$mono-200: #292929;
$mono-300: #424242;
$mono-400: #5C5C5C;
$mono-500: #757575;
$mono-600: #8F8F8F;
$mono-700: #A8A8A8;
$mono-800: #C2C2C2;
$mono-900: #DBDBDB;

$mono: (
100: #0F0F0F,
200: #292929,
300: #424242,
400: #5C5C5C,
500: #757575,
600: #8F8F8F,
700: #A8A8A8,
800: #C2C2C2,
900: #DBDBDB
);

$mojo-mono: (
hex: #757575,
light: #C2C2C2,
dark: #292929
);

$light-100: #242424;
$light-200: #3D3D3D;
$light-300: #575757;
$light-400: #707070;
$light-500: #8a8a8a;
$light-600: #A3A3A3;
$light-700: #BDBDBD;
$light-800: #D6D6D6;
$light-900: #F0F0F0;

$light: (
100: #242424,
200: #3D3D3D,
300: #575757,
400: #707070,
500: #8a8a8a,
600: #A3A3A3,
700: #BDBDBD,
800: #D6D6D6,
900: #F0F0F0
);

$mojo-light: (
hex: #8a8a8a,
light: #D6D6D6,
dark: #3D3D3D
);

$base00: #1F1F1F;
$base01: #232323;
$base02: #333333;
$base03: #4C4C4C;
$base04: #A0A0A0;
$base05: #BFBFBF;
$base06: #E0E0E0;
$base07: #F0F0F0;
$base08: #EC174C;
$base09: #24FC2D;
$base0A: #FBFE12;
$base0B: #41EAD4;
$base0C: #3E0097;
$base0D: #028AA6;
$base0E: #FE445F;
$base0F: #FD8046;


$Hexidecimal: (
base00: #1F1F1F,
base01: #232323,
base02: #333333,
base03: #4C4C4C,
base04: #A0A0A0,
base05: #BFBFBF,
base06: #E0E0E0,
base07: #F0F0F0,
base08: #EC174C,
base09: #24FC2D,
base0A: #FBFE12,
base0B: #41EAD4,
base0C: #3E0097,
base0D: #028AA6,
base0E: #FE445F,
base0F: #FD8046
);


