extends ../layout/main

append config
    - var highlight = true
    - var slug = 'index'
    - var pageCSS = 'demo/css/website'

block content
    section.angle-bottom-left.positive-top.headBlock
        .container
            .row
                .col
                    .hero.hero-large
                        .hero-body.text-center
                            h1.title.text-warning.mt-n3
                                | a sassy prototyping framework
                            .subtitle.subtitle-sm.text-info.mt-3.mb-2
                                | package based | lightweight | crazy fun
                            .btn.btn-lg.btn-secondary.mt-5
                                | Download It!

        span.triangleTop &nbsp;
        //- img.triangleMojo(src=imgPath+"Triangle.svg" alt="Triangle")

    section.bg-white.angle-both-right-right.negative-top.text-dark
        .vr-block.site-spacer
        .container
            .row.mt-5.mb-1
                .col-12
                    p.display-3.text-center.text-dark
                        | Main #[strong Mojo] Modules
        .container
            .row.pt-5.pb-5.mt-5.mb-5
                .col.col-md-4
                    .promo-block
                        img.img-center(src= imgPath+"SassLogo.png")
                        h3.text-info.text-center SCSS Stylesheets
                        p.text-center.px-4
                            | Using a familiar, easy to pick up class structure, and battle tested modules (like Bootstrap's CSS Grid), the #[strong Mojo CSS Framework] gets your project looking good from the jump. Tweak the starting points with ease.
                .col.col-md-4
                    .promo-block
                        img.img-center(src= imgPath+"JollyDesign.png")
                        h3.text-info.text-center JollyBar Sidekick
                        p.text-center.px-4
                            | Include the #[strong Jollybar] and easily debug your pages like you've never been able to do before! See sizes change in real time, instant browser viewport resizes, load CSS files to compare differences and much more.
                .col.col-md-4
                    .promo-block
                        img.img-center(src= imgPath+"TERM.png")
                        h3.text-info.text-center CLI Token Toolkit
                        p.text-center.px-4
                            | Token based and built with flexibility in mind! Quickly, via our #[strong Command Line Interface], swap out color palettes ala #[strong design tokens], jumping between looks quicker than you can change your pants,

        .vr-block.site-spacer

    section.slanted-bottom.angle-top-left
        .vr-block.site-spacer
        .container
            .row
                .offset-md-3.col-md-6.offset-sm-1.col-sm-10
                    h2.text-center.text-secondary
                        | Dip a toe in, or jump in the deep end

                    p.text-primary.text-center
                        | If you're just looking for the framework, thats as easy as 1-2-3 #[strong SASS]! If you're looking for help building a documentation generator, or a number of flatfile content setups, thats easy-peasy

                    :highlightify(lang="shell")
                        > some_command.sh arg=true sample=thing

                        > node another_cmd.js --arg2 -a "mojojojo"

        .vr-block.site-spacer


    section.slanted-bottom.angle-top-right.bg-white.text-dark
        .vr-block.site-spacer
        .container
            .row
                .col
                    h4.title.text-center.text-dark
                        | This is an example header
                    h5.subtitle.text-center.mt-2.text-dark
                        | This is more details about things

                    p.text-center.mt-5
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi.

            .row
                .offset-md-3.col-md-6.offset-sm-1.col-sm-10
                    :highlightify(lang="shell")
                        > node mojo.js --grunt --install

                        > grunt mojoDocs

            .row
                .col
                    .vr-block.vr-block-two
                    p.text-center
                        | Consect et ur eiusmod tempor incididunt ut labore adipisicing elit, sed do  et dolore magna aliqua.

            .row
                .offset-md-3.col-md-6.offset-sm-1.col-sm-10
                    :highlightify(lang="shell")
                        > node mojo.js --grunt --install

                        > grunt mojoDocs

        .vr-block.site-spacer
