// Background Colors are handled via the new bootstrap api
// @each $color, $value in $theme-colors {
//   @include bg-variant('.bg-#{$color}', $value);
// }

@if $hui-enable-fills {
  @each $color, $value in $theme-colors {
    .fill-#{$color} {
      fill: $value;
    }
  }

  @each $color, $value in $colors {
    .fill-#{$color} {
      fill: $value;
    }
  }

  @each $color, $value in $mono {
    .fill-mono-#{$color} {
      fill: $value;
    }
  }
}

@if $hui-enable-mono-scale {
  @include generate-color-scale($mono, 'mono');
}

@if $hui-enable-theme-scale {
  @include generate-color-scale($hui-reds, 'red');
}

@if $enable-gradients {
  @each $color, $value in $theme-colors {
    @include bg-gradient-variant('.bg-gradient-#{$color}', $value);
  }
}