//
// Text utilities adjustments
//

.text-monospace {
  font-family: $font-family-monospace;
}

// Weight and italics
.font-weight-normal {
  font-weight: $font-weight-normal;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

// Contextual colors
@each $color, $value in $theme-colors {
  @include text-emphasis-variant('.text-#{$color}', $value);
}

.text-body {
  color: $body-color;
}

.text-body-emphasis {
  color: color.adjust($black, $lightness: 10%) !important;

  body.dark & {
    color: color.adjust($white, $blackness: 10%) !important;
  }
}

// Anchor white text hover adjustment
.text-white {
  @include hover-focus {
    color: color.adjust($white, $blackness: 10%);
  }
}

// Black text variation
.text-black {
  color: $black;
}

// Anchor black text hover adjustment
.text-black {
  @include hover-focus {
    color: color.adjust($black, $lightness: 10%);
  }
}

// Text muted
.text-muted {
  color: $text-muted;
}
