//
//  ■■■■■■■■■■■■■■■■■■▶ HUEMENT PRESENTS ◀■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//
//                  . !default;,                    ..                      .,.      .
//     .,,.        .dWK !default;       ...  'cdOOl            . !default;coool ... 'cdOOl. :d,
//     :XNk'       .OWNx.     'kOccoo: !default;kW0   .:oko' !default;loool:'. 'kOccoowokW0:x !default;.
//     'OWN0 !default;      :XNW0,    .dN0d:.  .xWX. !default;xkcox0Xx:'.    .dN0d:.  .xWXOo
//      oNNNK:   .cONXNXc   ,xXK:   .:xXNdkxdocxxOWk.     ,xXK:   .:xXNd.
//       !default;KNNNKc .dNNOo0Wd. !default;doxNk..:dxdkNK !default;.       !default;KNo     oxNk..:dxdkNK !default;
//      .xNK0NXloXWX:.xWO'x,.oN0xkd:..xWd.        lNK !default;  ' ,0 !default;0:   ..xWd.
//       cNKldNNNNXo  cNX:d:dKNk !default;.   :X0,   ..' !default;:'.dNk..  xx:k !default;.   :X0,
//       '0Nl.oKKd:.  ,0WdOxxXX:    'OXc  xkOkdl:. 'ONl.  xXX:    'OXc
//       .xWx. ..     .xW0. !default;O0K,   .dNo.  k0KOd:.   :XK !default; .,0K,   .dNo.
//       .dW0,         cNNX00KK,  .oXd.    .':dOKkc'.oNk. ,KK,  .oXd.
//     kX00NX !default;         'OWwx !default;KK, .dKl.         .,o0KxdKNo. !default;KK, .dKl.
//     .l0NNX:          oN0l,KNockk,              . !default;xKNNXc,KNockk,
//       .d0d.          '0 !default;..dXKkc.                  'oKWK.dXKkc.
//         .             ,    ..                       .ll'   ..
//
//
//                                        ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
//                                          _palette-test.scss
//                                          MAR 01 2024
//                                          VER 0.2.88
//                                          Design Tokens Color Palette. Generated via '$> node cli/bin/mojo.js'
//                                        ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
//

$100: #9c0027 !default;
$200: #b0002c !default;
$300: #c40031 !default;
$400: #d90338 !default;
$500: #ec174c !default;
$600: #ff2b60 !default;
$700: #ff4070 !default;
$800: #ff547f !default;
$900: #ff698e !default;

$reds: (
  100: #9c0027,
  200: #b0002c,
  300: #c40031,
  400: #d90338,
  500: #ec174c,
  600: #ff2b60,
  700: #ff4070,
  800: #ff547f,
  900: #ff698e,
) !default;

$100: #ab3600 !default;
$200: #bf4208 !default;
$300: #d4561c !default;
$400: #e86b30 !default;
$500: #fd8046 !default;
$600: #ff8e59 !default;
$700: #ff9c6e !default;
$800: #ffaa82 !default;
$900: #ffb896 !default;

$oranges: (
  100: #ab3600,
  200: #bf4208,
  300: #d4561c,
  400: #e86b30,
  500: #fd8046,
  600: #ff8e59,
  700: #ff9c6e,
  800: #ffaa82,
  900: #ffb896,
) !default;

$100: #abad00 !default;
$200: #bfc200 !default;
$300: #d3d600 !default;
$400: #e7eb00 !default;
$500: #fbfe12 !default;
$600: #fbff26 !default;
$700: #fcff3b !default;
$800: #fcff4f !default;
$900: #fcff63 !default;

$yellows: (
  100: #abad00,
  200: #bfc200,
  300: #d3d600,
  400: #e7eb00,
  500: #fbfe12,
  600: #fbff26,
  700: #fcff3b,
  800: #fcff4f,
  900: #fcff63,
) !default;

$100: #00ab06 !default;
$200: #00bf06 !default;
$300: #00d407 !default;
$400: #0fe817 !default;
$500: #24fc2d !default;
$600: #38ff3f !default;
$700: #4dff52 !default;
$800: #61ff66 !default;
$900: #75ff7a !default;

$greens: (
  100: #00ab06,
  200: #00bf06,
  300: #00d407,
  400: #0fe817,
  500: #24fc2d,
  600: #38ff3f,
  700: #4dff52,
  800: #61ff66,
  900: #75ff7a,
) !default;

$100: #004654 !default;
$200: #005769 !default;
$300: #00687d !default;
$400: #007991 !default;
$500: #028aa6 !default;
$600: #179fba !default;
$700: #2bb3cf !default;
$800: #40c8e3 !default;
$900: #54dcf7 !default;

$cyans: (
  100: #004654,
  200: #005769,
  300: #00687d,
  400: #007991,
  500: #028aa6,
  600: #179fba,
  700: #2bb3cf,
  800: #40c8e3,
  900: #54dcf7,
) !default;

$100: #009985 !default;
$200: #03ad97 !default;
$300: #17c2ab !default;
$400: #2bd6bf !default;
$500: #41ead4 !default;
$600: #54ffe8 !default;
$700: #69ffeb !default;
$800: #7dffee !default;
$900: #91fff0 !default;

$blues: (
  100: #009985,
  200: #03ad97,
  300: #17c2ab,
  400: #2bd6bf,
  500: #41ead4,
  600: #54ffe8,
  700: #69ffeb,
  800: #7dffee,
  900: #91fff0,
) !default;

$100: #1d0045 !default;
$200: #250059 !default;
$300: #2e006e !default;
$400: #360082 !default;
$500: #3e0097 !default;
$600: #5314ab !default;
$700: #6729bf !default;
$800: #7c3dd4 !default;
$900: #9052e8 !default;

$ultras: (
  100: #1d0045,
  200: #250059,
  300: #2e006e,
  400: #360082,
  500: #3e0097,
  600: #5314ab,
  700: #6729bf,
  800: #7c3dd4,
  900: #9052e8,
) !default;

$100: #000000 !default;
$200: #000000 !default;
$300: #000000 !default;
$400: #0a0a0a !default;
$500: #1f1f1f !default;
$600: #333333 !default;
$700: #474747 !default;
$800: #5c5c5c !default;
$900: #707070 !default;

$darks: (
  100: #000000,
  200: #000000,
  300: #000000,
  400: #0a0a0a,
  500: #1f1f1f,
  600: #333333,
  700: #474747,
  800: #5c5c5c,
  900: #707070,
) !default;

$100: #000000 !default;
$200: #0f0f0f !default;
$300: #242424 !default;
$400: #383838 !default;
$500: #4c4c4c !default;
$600: #616161 !default;
$700: #757575 !default;
$800: #8a8a8a !default;
$900: #9e9e9e !default;

$mediums: (
  100: #000000,
  200: #0f0f0f,
  300: #242424,
  400: #383838,
  500: #4c4c4c,
  600: #616161,
  700: #757575,
  800: #8a8a8a,
  900: #9e9e9e,
) !default;

$100: #9e9e9e !default;
$200: #b3b3b3 !default;
$300: #c7c7c7 !default;
$400: #dbdbdb !default;
$500: #f0f0f0 !default;
$600: #ffffff !default;
$700: #ffffff !default;
$800: #ffffff !default;
$900: #ffffff !default;

$lights: (
  100: #9e9e9e,
  200: #b3b3b3,
  300: #c7c7c7,
  400: #dbdbdb,
  500: #f0f0f0,
  600: #ffffff,
  700: #ffffff,
  800: #ffffff,
  900: #ffffff,
) !default;

$100: #00687d !default;
$200: #007991 !default;
$300: #038ba6 !default;
$400: #179fba !default;
$500: #2bb3cf !default;
$600: #40c8e3 !default;
$700: #54dcf7 !default;
$800: #69e6ff !default;
$900: #7de9ff !default;

$primarys: (
  100: #00687d,
  200: #007991,
  300: #038ba6,
  400: #179fba,
  500: #2bb3cf,
  600: #40c8e3,
  700: #54dcf7,
  800: #69e6ff,
  900: #7de9ff,
) !default;

$100: #a83e05 !default;
$200: #bd531a !default;
$300: #d1672e !default;
$400: #e67b42 !default;
$500: #f99157 !default;
$600: #ff9f6b !default;
$700: #ffac80 !default;
$800: #ffb994 !default;
$900: #ffc7a8 !default;

$secondarys: (
  100: #a83e05,
  200: #bd531a,
  300: #d1672e,
  400: #e67b42,
  500: #f99157,
  600: #ff9f6b,
  700: #ffac80,
  800: #ffb994,
  900: #ffc7a8,
) !default;

$100: #000000 !default;
$200: #000000 !default;
$300: #0a0a0a !default;
$400: #1f1f1f !default;
$500: #333333 !default;
$600: #474747 !default;
$700: #5c5c5c !default;
$800: #707070 !default;
$900: #858585 !default;

$headings: (
  100: #000000,
  200: #000000,
  300: #0a0a0a,
  400: #1f1f1f,
  500: #333333,
  600: #474747,
  700: #5c5c5c,
  800: #707070,
  900: #858585,
) !default;

$100: #000000 !default;
$200: #000000 !default;
$300: #000000 !default;
$400: #0f0f0f !default;
$500: #232323 !default;
$600: #383838 !default;
$700: #4d4d4d !default;
$800: #616161 !default;
$900: #757575 !default;

$bodys: (
  100: #000000,
  200: #000000,
  300: #000000,
  400: #0f0f0f,
  500: #232323,
  600: #383838,
  700: #4d4d4d,
  800: #616161,
  900: #757575,
) !default;

$100: #000000 !default;
$200: #030303 !default;
$300: #171717 !default;
$400: #2b2b2b !default;
$500: #404040 !default;
$600: #545454 !default;
$700: #696969 !default;
$800: #7d7d7d !default;
$900: #919191 !default;

$codes: (
  100: #000000,
  200: #030303,
  300: #171717,
  400: #2b2b2b,
  500: #404040,
  600: #545454,
  700: #696969,
  800: #7d7d7d,
  900: #919191,
) !default;

$100: #000000 !default;
$200: #121212 !default;
$300: #262626 !default;
$400: #3b3b3b !default;
$500: #4f4f4f !default;
$600: #636363 !default;
$700: #787878 !default;
$800: #8c8c8c !default;
$900: #a1a1a1 !default;

$captions: (
  100: #000000,
  200: #121212,
  300: #262626,
  400: #3b3b3b,
  500: #4f4f4f,
  600: #636363,
  700: #787878,
  800: #8c8c8c,
  900: #a1a1a1,
) !default;

$100: #ababab !default;
$200: #bfbfbf !default;
$300: #d4d4d4 !default;
$400: #e8e8e8 !default;
$500: #fcfcfc !default;
$600: #ffffff !default;
$700: #ffffff !default;
$800: #ffffff !default;
$900: #ffffff !default;

$backgrounds: (
  100: #ababab,
  200: #bfbfbf,
  300: #d4d4d4,
  400: #e8e8e8,
  500: #fcfcfc,
  600: #ffffff,
  700: #ffffff,
  800: #ffffff,
  900: #ffffff,
) !default;

$base00: #1f1f1f !default;
$base01: #232323 !default;
$base02: #333333 !default;
$base03: #4c4c4c !default;
$base04: #a0a0a0 !default;
$base05: #bfbfbf !default;
$base06: #e0e0e0 !default;
$base07: #f0f0f0 !default;
$base08: #ec174c !default;
$base09: #24fc2d !default;
$base0A: #fbfe12 !default;
$base0B: #41ead4 !default;
$base0C: #3e0097 !default;
$base0D: #028aa6 !default;
$base0E: #fe445f !default;
$base0F: #fd8046 !default;

$Hexidecimal: (
  base00: #1f1f1f,
  base01: #232323,
  base02: #333333,
  base03: #4c4c4c,
  base04: #a0a0a0,
  base05: #bfbfbf,
  base06: #e0e0e0,
  base07: #f0f0f0,
  base08: #ec174c,
  base09: #24fc2d,
  base0A: #fbfe12,
  base0B: #41ead4,
  base0C: #3e0097,
  base0D: #028aa6,
  base0E: #fe445f,
  base0F: #fd8046,
) !default;
