$mojo-cyan: (
  hex: #00f5d4,
  light: #2ef9de,
  dark: #07b099,
) !default;
$mojo-ocean: (
  hex: #0fb2aa,
  light: #19dad1,
  dark: #0f746f,
) !default;
$mojo-blue: (
  hex: #1982c4,
  light: #319bde,
  dark: #185c87,
) !default;
$mojo-violet: (
  hex: #520099,
  light: #6c05c6,
  dark: #300358,
) !default;
$mojo-red: (
  hex: #ff0054,
  light: #f93877,
  dark: #ba0742,
) !default;
$mojo-coral: (
  hex: #fd7e47,
  light: #faa27c,
  dark: #f25714,
) !default;
$mojo-yellow: (
  hex: #fbff12,
  light: #f7fa49,
  dark: #c8cb08,
) !default;
$mojo-green: (
  hex: #3bfc43,
  light: #70f976,
  dark: #0dec16,
) !default;
$mono: (
  100: #1f1f1f,
  200: #242424,
  300: #3d3d3d,
  400: #4c4c4c,
  500: #757575,
  600: #8a8a8a,
  700: #b3b3b3,
  800: #dbdbdb,
  900: #f0f0f0,
) !default;
