// Shards variables
$variable-prefix: bs-; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix;
$debug: true;

$font-path: "/fonts/";
$icon-prefix: mi;
$icon-size: 24px;

// $superclass: "mojo";
$superclass: false;

// scss-docs-start theme-text-variables
$primary-text-emphasis: shade-color($primary, 60%);
$secondary-text-emphasis: shade-color($secondary, 60%);
$success-text-emphasis: shade-color($success, 60%);
$info-text-emphasis: shade-color($info, 60%);
$warning-text-emphasis: shade-color($warning, 60%);
$danger-text-emphasis: shade-color($danger, 60%);
$light-text-emphasis: $gray-700;
$dark-text-emphasis: $gray-700;
// scss-docs-end theme-text-variables

// scss-docs-start theme-bg-subtle-variables
$primary-bg-subtle: tint-color($primary, 80%);
$secondary-bg-subtle: tint-color($secondary, 80%);
$success-bg-subtle: tint-color($success, 80%);
$info-bg-subtle: tint-color($info, 80%);
$warning-bg-subtle: tint-color($warning, 80%);
$danger-bg-subtle: tint-color($danger, 80%);
$light-bg-subtle: mix($gray-100, $white);
$dark-bg-subtle: $gray-400;
// scss-docs-end theme-bg-subtle-variables

// scss-docs-start theme-border-subtle-variables
$primary-border-subtle: tint-color($primary, 60%);
$secondary-border-subtle: tint-color($secondary, 60%);
$success-border-subtle: tint-color($success, 60%);
$info-border-subtle: tint-color($info, 60%);
$warning-border-subtle: tint-color($warning, 60%);
$danger-border-subtle: tint-color($danger, 60%);
$light-border-subtle: $gray-200;
$dark-border-subtle: $gray-500;
// scss-docs-end theme-border-subtle-variables

$min-contrast-ratio: 4.5;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark: $dark;
$color-contrast-light: $light;

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8%;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $gray-900;
$yiq-text-light: $white;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false; // Not supported by Shards.
$enable-transitions: true;
$enable-hover-media-query: false; // Deprecated, no longer affects any compiled CSS
$enable-fonts-import: true;
$enable-caret: true;

$enable-reduced-motion: true;
$enable-smooth-scroll: true;
$enable-grid-classes: true;
$enable-container-classes: true;
$enable-cssgrid: false;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: false;
$enable-deprecation-messages: true;
$enable-important-utilities: true;
$enable-display-sizes: true;

$enable-dark-mode: false;
$color-mode-type: data; // `data` or `media-query`

// Forms

$border-color: #becad6;
$input-frozen-color: #abb6bf;

// Spacing

$spacer: 1.5rem; // ~ 24px

// Body

$body-bg: $body;
$body-color: $text;

// Links
$link-decoration: none;
$link-hover-decoration: none;

// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-columns: 12;
$grid-gutter-width: 1.5rem;
$grid-row-columns: 6;
$container-padding-x: $grid-gutter-width;
$break-point-limit: "medium";
$tile-spacing: 0.75rem;

// Components

$line-height-lg: 1.5;
$line-height-sm: 1.5;

$border-width: 0.0625rem;
$border-width-lg: 0.188rem;
$border-width-sm: 0.031rem;

$border-radius: 0.375rem;
$border-radius-lg: 0.5rem;
$border-radius-sm: 0.35rem;
$border-radius-xl: 1rem;
$border-radius-2xl: 2rem;
$border-radius-pill: 50rem;
$enable-shadows: true;
$enable-rounded: true;
$enable-gradients: false;
$enable-transitions: true;
$enable-reduced-motion: false;
$border-style: solid;
$border-color: $gray-700;
$border-color-translucent: rgba($gray-700, 0.175);
$enable-angled-edges: true;
$angle-edge-size: 3;

$hr-margin-y: $spacer;
$hr-color: inherit;
$hr-border-color: null; // Allows for inherited colors
$hr-border-width: $border-width;
$hr-opacity: 0.25;

$box-shadow: 0 0.5rem 1rem rgba($dark, 0.15);
$box-shadow-sm: 0 0.125rem 0.25rem rgba($dark, 0.075);
$box-shadow-lg: 0 1rem 3rem rgba($dark, 0.175);
$box-shadow-inset: inset 0 1px 2px rgba($dark, 0.075);

$component-active-color: $white;
$component-active-bg: theme-color("primary");

// Easings
$ease-in-out-circ: cubic-bezier(0.27, 0.01, 0.38, 1.06);

// Transitions
$transition-duration: 250ms;
$transition-base: all $transition-duration $ease-in-out-circ;
$transition-fade: opacity 200ms ease-in-out;
$transition-collapse: height 350ms ease-in-out;

// Harmony
$modular-ratio: $MAJOR_THIRD;
$line-height-base: 1.5;
$block-spacing: 1.5rem;
$vertical-unit: 0.5rem;
$main-unit: rem;
$main-indent: 0.24rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);
$gutters: $spacers;

$font-sizes: (
  xs: 0.875rem,
  // 14px
  sm: 1rem,
  // 16px
  md: 1.25rem,
  // 30px
  lg: 1.5rem,
  // 24px
  xl: 2rem,
  // 32px
);

$font-line-sizes: (
  xs: map.get($font-sizes, "xs") * $line-height-base,
  sm: map.get($font-sizes, "sm") * $line-height-base,
  md: map.get($font-sizes, "md") * $line-height-base,
  lg: map.get($font-sizes, "lg") * $line-height-base,
  xl: map.get($font-sizes, "xl") * $line-height-base,
);

//
// Title, Subtitle, Display Font Variables
//

$title-size: 3.5rem;
$title-weight: 700;
$title-strong-weight: inherit;

$subtitle-size: 2rem;
$subtitle-weight: 400;
$subtitle-strong-weight: 500;

$display-font-family: null;
$display-font-style: null;
$display-font-weight: 300;
$display-line-height: 1.2;

$display-font-sizes: if(
  $enable-display-sizes,
  (
    1: 5rem,
    2: 4.5rem,
    3: 4rem,
    4: 3.5rem,
    5: 3rem,
    6: 2.5rem,
  ),
  null
);

// Fonts
// TODO: sort out the font variables!!!
$google-fonts-import: "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600|Roboto+Mono"; // Includes: Poppins: Light, Regular, Medium, Semi-bold; Roboto Mono: Regular

$font-family-poppins-first: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  sans-serif;
$font-family-system-first: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-roboto-mono-first: "Roboto Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-family-sans-serif: $font-family-system-first;
$font-family-monospace: $font-family-roboto-mono-first;
$font-family-base: $font-family-sans-serif;

// $font-family-base: "Jost";
// $font-family-code: "Space Mono";

// Typography Variables
// ============================================================================
// TODO: sort out the heading variables!!!
$font-weight-base: $font-weight-normal;

$font-size-root: strip-units(map.get($font-sizes, "sm"));
$font-size-base: map.get($font-sizes, "sm");
$font-size-lg: map.get($font-sizes, "lg");
$font-size-sm: map.get($font-sizes, "xs");

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$font-weight-base: $font-weight-normal;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
);

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-weight-base: $font-weight-normal;

$h1-font-size: 3.052rem;
$h2-font-size: 2.441rem;
$h3-font-size: 1.953rem;
$h4-font-size: 1.563rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

$headings-margin-bottom: 0.75rem;

$headings-font-family: $font-family-poppins-first;
$headings-font-weight: 400;
$headings-color: $light;
$headings-letter-spacing: -0.0625rem; // ~1px

$h1-line-height: 3rem;
$h2-line-height: 2.25rem;
$h3-line-height: 2.25rem;
$h4-line-height: 2rem;
$h5-line-height: 1.5rem;
$h6-line-height: 1.5rem;

$display1-size: 7.451rem;
$display2-size: 5.96rem;
$display3-size: 4.768rem;
$display4-size: 3.815rem;

$display-line-height: 1;
$display-margin-bottom: 0.75rem;

$paragraphs-margin-bottom: 1.75rem;

$lead-line-height: 1.875rem;

$small-font-size: 80%;

$text-muted: $gray-600;

$blockquote-font-size: 1.5rem;
$blockquote-footer-font-size: 1.125rem;
$blockquote-margin-bottom: 0.75rem;

$hr-border-color: rgba($dark, 0.1);
$hr-border-width: $border-width;
$hr-margin-y: 1.125rem;

$mark-padding: 0.2em;
$mark-bg: #fff09e;

// Accordions
$accordion-max-height: 20rem;
$transition-color: #3f3f3f;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.
$table-color: $light;
$table-bg: $black;
$table-active-bg: rgba($primary, 0.075);
$table-striped-bg: rgba($dark, 0.075);
$table-hover-bg: rgba($dark, 0.075);
$table-cell-padding: 0.75rem;
$table-cell-padding-sm: 0.3rem;

$table-dark-color: $body-bg;
$table-dark-bg: $gray-900;
$table-dark-border-color: lighten($gray-900, 7.5%);
$table-dark-accent-bg: rgba($light, 0.05);
$table-dark-hover-bg: rgba($light, 0.075);

$table-head-color: $gray-700;
$table-head-bg: $gray-200;
$table-border-color: $gray-300;

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-padding-y-lg: 0.75rem;
$btn-padding-x-lg: 1.75rem;

$btn-line-height-sm: $line-height-sm;
$btn-line-height-lg: $line-height-lg;

$btn-padding-y-sm: 0.35rem;
$btn-padding-x-sm: 1rem;

$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1rem;
$input-btn-line-height: 1.125;

$input-btn-padding-y-sm: 0.35rem;
$input-btn-padding-x-sm: 0.75rem;

$input-btn-padding-y-lg: 0.75rem;
$input-btn-padding-x-lg: 1rem;

$btn-pill-border-radius: 50px;

$btn-padding-y: 0.75rem;
$btn-padding-x: 1.25rem;

$btn-font-weight: $font-weight-normal;
$btn-font-size: 0.875rem;
$btn-font-size-sm: 0.75rem;
$btn-font-size-lg: 1.125rem;
$btn-font-family: $font-family-poppins-first;
$btn-box-shadow: none;

$input-btn-focus-width: 0.2rem;

$btn-active-box-shadow: inset 0 3px 5px rgba($black, 0.125);

$btn-link-disabled-color: $gray-600;
$btn-block-spacing-y: 0.5rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius-lg;
$btn-border-radius-sm: $border-radius-sm;

$btn-border-width: 1px;

// $btn-transition: $transition-base;
$btn-transition: "all 180ms linear";
// Forms

$input-padding-y: $input-btn-padding-y;
$input-padding-x: $input-btn-padding-x;
$input-line-height: 1.5;

$input-padding-y-sm: $input-btn-padding-y-sm;
$input-padding-x-sm: $input-btn-padding-x-sm;
$input-line-height-sm: 1.5;

$input-padding-y-lg: $input-btn-padding-y-lg;
$input-padding-x-lg: $input-btn-padding-x-lg;
$input-line-height-lg: 1.5;

$input-bg: $white;
$input-disabled-bg: #f5f6f7;
$input-color: $body-color;
$input-border-color: #becad6;
$input-box-shadow: $box-shadow-inset;
$input-border-radius: $border-radius;
$input-border-radius-sm: $border-radius-sm;
$input-border-radius-lg: $border-radius-lg;

$input-font-size: 0.95rem;

$input-color: $gray-700;
$input-border-color: $border-color;
$input-btn-border-width: $border-width;
$input-box-shadow: none;

$input-border-width: $border-width;
$input-border-radius: $border-radius;
$input-border-radius-lg: $border-radius-lg;
$input-border-radius-sm: $border-radius-sm;

$input-focus-bg: $input-bg;
$input-focus-border-color: theme-color("primary");
$input-focus-box-shadow: 0 0.313rem 0.719rem rgba(theme-color("primary"), 0.1), 0 0.156rem 0.125rem rgba($black, 0.06);
$input-focus-color: $input-color;

$input-hover-border-color: darken(#becad6, 15);

$input-placeholder-color: $gray-600;

$input-height-border: $input-border-width * 2;

$input-height-inner: calc($input-font-size * $input-line-height) + calc($input-padding-y * 2);
$input-height: calc(#{$input-height-inner} + #{$input-height-border});

$input-height-inner-sm: calc($font-size-sm * $input-line-height-sm) + calc($input-padding-y-sm * 2);
$input-height-sm: calc(#{$input-height-inner-sm} + #{$input-height-border});

$input-height-inner-lg: calc($font-size-lg * $input-line-height-lg) + calc($input-padding-y-lg * 2);
$input-height-lg: calc(#{$input-height-inner-lg} + #{$input-height-border});

$input-transition: box-shadow $transition-duration $ease-in-out-circ, border $transition-duration $ease-in-out-circ;

$form-text-margin-top: 0.25rem;

$form-check-input-gutter: 1.25rem;
$form-check-input-margin-y: 0.313rem;
$form-check-input-margin-x: 0.313rem;

$form-check-inline-margin-x: 0.75rem;
$form-check-inline-input-margin-x: 0.3125rem;

$form-group-margin-bottom: 1rem;

$input-group-padding-y: 12px;
$input-group-padding-x: 14px;
$input-group-addon-bg: lighten($input-border-color, 19%);
$input-group-addon-border-color: $input-border-color;
$input-group-addon-color: $input-frozen-color;

$custom-control-gutter: 1.688rem;
$custom-control-spacer-x: 1rem;

$custom-control-indicator-size: 1.125rem;
$custom-control-indicator-bg: $white;
$custom-control-indicator-bg-size: 50% 50%;
$custom-control-indicator-box-shadow: none;
$custom-control-indicator-border: 1px solid $border-color;
$custom-checkbox-indicator-transition: transform $transition-duration $ease-in-out-circ,
  border $transition-duration $ease-in-out-circ;

$custom-control-indicator-disabled-bg: $gray-200;
$custom-control-description-disabled-color: $gray-600;

$custom-control-indicator-checked-color: $white;
$custom-control-indicator-checked-bg: theme-color("primary");
$custom-control-indicator-checked-box-shadow: none;

$custom-control-indicator-focus-box-shadow: $input-focus-box-shadow;

$custom-control-indicator-active-color: $white;
$custom-control-indicator-active-bg: lighten(theme-color("primary"), 35%);
$custom-control-indicator-active-box-shadow: none;

// Custom checkbox
$custom-checkbox-indicator-border-radius: 2px;
$custom-checkbox-indicator-icon-checked: none;
$custom-checkbox-indicator-indeterminate-bg: theme-color("primary");
$custom-checkbox-indicator-indeterminate-color: $custom-control-indicator-checked-color;
$custom-checkbox-indicator-icon-indeterminate: none;
$custom-checkbox-indicator-indeterminate-box-shadow: none;

// Custom radio
$custom-radio-indicator-border-radius: 50%;

// Custom select
$custom-select-padding-y: 0.375rem;
$custom-select-padding-x: 0.75rem;
$custom-select-height: $input-height; // OK
$custom-select-indicator-padding: 1rem; // Extra padding to account for the presence of the background-image based indicator
$custom-select-line-height: 1.2;
$custom-select-color: $input-color;
$custom-select-disabled-color: $gray-600;
$custom-select-bg: $white;
$custom-select-disabled-bg: $gray-200;
$custom-select-bg-size: 8px 10px; // In pixels because image dimensions
$custom-select-indicator-color: #333;
$custom-select-indicator: str-replace(
  url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"),
  "#",
  "%23"
);
$custom-select-border-width: $input-btn-border-width;
$custom-select-border-color: $input-border-color;
$custom-select-border-radius: $border-radius;

$custom-select-focus-border-color: $input-focus-border-color;
$custom-select-focus-box-shadow: 0 0.313rem 0.719rem rgba(theme-color("primary"), 0.1),
  0 0.156rem 0.125rem rgba($black, 0.06);

$custom-select-font-size-sm: 0.75rem;
$custom-select-height-sm: $input-height-sm;

$custom-select-height-lg: $input-height-lg;
$custom-select-font-size-lg: 1.25rem;

$custom-file-height: calc(2.428rem + 2px);
$custom-file-width: 14rem;
$custom-file-focus-box-shadow: $input-focus-box-shadow;
$custom-file-focus-border-color: $input-focus-border-color;

$custom-file-padding-y: 1rem;
$custom-file-padding-x: 0.5rem;
$custom-file-line-height: 1.5;
$custom-file-color: $gray-700;
$custom-file-bg: $white;
$custom-file-border-width: $border-width;
$custom-file-border-color: $input-border-color;
$custom-file-border-radius: $border-radius;
$custom-file-box-shadow: none;
$custom-file-button-color: $custom-file-color;
$custom-file-button-bg: $gray-200;
$custom-file-text: (
  en: "Browse",
);

// Custom switches (core)
$custom-switch-padding-left: 2.25rem;

// Form validation
$form-feedback-margin-top: $form-text-margin-top;
$form-feedback-font-size: $small-font-size;
$form-feedback-valid-color: theme-color("success");
$form-feedback-invalid-color: theme-color("danger");

// Custom toggle
$custom-toggle-width: 3.125rem;
$custom-toggle-height: 1.75rem;
$custom-toggle-border-width: 0.0625rem;
$custom-toggle-border: $custom-toggle-border-width solid $input-border-color;
$custom-toggle-background-color: $white;
$custom-toggle-border-radius: 100px;

$custom-toggle-focus-box-shadow: 0 0.313rem 0.719rem rgba(theme-color("success"), 0.1),
  0 0.156rem 0.125rem rgba($black, 0.06);

$custom-toggle-checked-background: theme-color("success");
$custom-toggle-checked-border-color: $custom-toggle-checked-background;
$custom-toggle-checked-knob-background: $white;

$custom-toggle-knob-width: 1.25rem;
$custom-toggle-knob-height: 1.25rem;
$custom-toggle-knob-border-radius: 6.25rem;
$custom-toggle-knob-active-width: 1.625rem;

$custom-toggle-invalid-knob-background-color: #eb8c95;
$custom-toggle-invalid-background-color: $white;

$custom-toggle-width-sm: 2.1875rem;
$custom-toggle-height-sm: 1.125rem;

$custom-toggle-knob-width-sm: 0.75rem;
$custom-toggle-knob-active-width-sm: 1rem;
$custom-toggle-knob-height-sm: 0.75rem;

// Form validation
$form-feedback-valid-color: theme-color("success");
$form-feedback-invalid-color: theme-color("danger");

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-bg: $white;
$dropdown-min-width: 10rem;
$dropdown-padding-y: 0.5rem;
$dropdown-spacer: 0;
$dropdown-border-color: rgba($black, 0.05);
$dropdown-border-width: $border-width;
$dropdown-divider-bg: $gray-200;
$dropdown-border-radius: $border-radius;

$dropdown-box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.11), 0 10px 20px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.06);

$dropdown-link-color: $gray-900;
$dropdown-link-hover-color: darken($gray-900, 5%);
$dropdown-link-hover-bg: lighten($dark, 55%);
$dropdown-link-active-color: $component-active-color;
$dropdown-link-active-bg: lighten($dark, 40%);
$dropdown-link-disabled-color: $gray-600;

$dropdown-item-padding-y: 0.5rem;
$dropdown-item-padding-x: 1.25rem;
$dropdown-item-font-size: 0.9375rem;
$dropdown-item-transition: background-color $transition-duration $ease-in-out-circ,
  color $transition-duration $ease-in-out-circ;

$dropdown-header-color: $gray-600;

// Small dropdowns
$dropdown-small-padding-y: 0.25rem;
$dropdown-small-font-size: 0.813rem;
$dropdown-small-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.11), 0 3px 10px rgba(0, 0, 0, 0.05),
  0 2px 3px rgba(0, 0, 0, 0.06);

$dropdown-small-item-padding-y: 0.375rem;
$dropdown-small-item-padding-x: 0.875rem;

$dropdown-small-item-font-size: 0.813rem;

$dropdown-small-divider-margin-x: 0;
$dropdown-small-divider-margin-y: 0.25rem;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

// Navs

$nav-transition: $transition-base;
$nav-font-family: $font-family-poppins-first;

$nav-link-padding-y: 0.625rem;
$nav-link-padding-x: 1.125rem;
$nav-link-disabled-color: $gray-600;

$nav-tabs-border-color: lighten($dark, 45%);
$nav-tabs-border-width: $border-width;
$nav-tabs-border-radius: $border-radius;
$nav-tabs-link-hover-border-color: $gray-200;
$nav-tabs-link-active-color: $gray-700;
$nav-tabs-link-active-bg: $body-bg;
$nav-tabs-link-active-border-color: #ddd;

$nav-pills-border-radius: $border-radius;
$nav-pills-link-active-color: $component-active-color;
$nav-pills-link-active-bg: $component-active-bg;

// Navbar nav
$navbar-nav-link-padding-x: 0.625rem;

// Navbar

$navbar-padding-y: calc($spacer / 2);
$navbar-padding-x: $spacer;

$navbar-brand-font-size: 1rem;

// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$nav-link-height: $navbar-brand-font-size * $line-height-base;
$navbar-brand-height: ($font-size-base * $line-height-base + $nav-link-padding-y * 2);
$navbar-brand-padding-y: calc(($navbar-brand-height - $nav-link-height) / 2);

$navbar-font-family: $font-family-poppins-first;
$navbar-toggler-padding-y: 0.5rem;
$navbar-toggler-padding-x: 0.5rem;
$navbar-toggler-font-size: 1rem;
$navbar-toggler-border-radius: $btn-border-radius;

$navbar-dark-color: rgba($white, 0.5);
$navbar-dark-hover-color: rgba($white, 0.75);
$navbar-dark-active-color: rgba($white, 1);
$navbar-dark-disabled-color: rgba($white, 0.25);
$navbar-dark-toggler-icon-bg: str-replace(
  url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"),
  "#",
  "%23"
);
$navbar-dark-toggler-border-color: rgba($white, 0.1);

$navbar-light-color: $gray-200;
$navbar-light-hover-color: rgba($navbar-light-color, 0.7);
$navbar-light-active-color: rgba($navbar-light-color, 0.9);
$navbar-light-disabled-color: rgba($navbar-light-color, 0.3);
$navbar-light-toggler-icon-bg: str-replace(
  url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"),
  "#",
  "%23"
);
$navbar-light-toggler-border-color: rgba($navbar-light-color, 0.1);

// Pagination

$pagination-padding-y: 0.5rem;
$pagination-padding-x: 0.75rem;
$pagination-padding-y-sm: 0.25rem;
$pagination-padding-x-sm: 0.6875rem;
$pagination-padding-y-lg: 0.9375rem;
$pagination-padding-x-lg: 1.5625rem;
$pagination-line-height: 1.25;
$pagination-font-family: $font-family-poppins-first;
$pagination-font-size: 0.875rem;
$pagination-box-shadow: 0 0.125rem 0.9375rem rgba($dark, 0.1), 0 0.125rem 0.1875rem rgba($dark, 0.15);

$pagination-color: $link-color;
$pagination-bg: $white;

$pagination-hover-color: $link-hover;
$pagination-hover-bg: lighten($dark, 58%);
$pagination-hover-border-color: lighten($dark, 50%);

$pagination-active-color: $white;
$pagination-active-bg: theme-color("primary");
$pagination-active-border-color: theme-color("primary");

$pagination-disabled-color: lighten($dark, 30%);
$pagination-disabled-bg: $white;
$pagination-disabled-border-color: lighten($dark, 50%);

// Cards

$card-spacer-y: 2.1875rem;
$card-spacer-x: 1.875rem;

$card-header-spacer-x: $card-spacer-x;
$card-header-spacer-y: calc($card-spacer-y / 2);

$card-footer-spacer-x: $card-spacer-x;
$card-footer-spacer-y: calc($card-spacer-y / 2);

$card-border-radius: 0.625rem;
$card-inner-border-radius: $card-border-radius;

$card-cap-bg: rgba($dark, 0.6);
$card-bg: $gray-200;

$card-title-font-weight: 500;
$card-title-margin-bottom: 0.75rem;

$card-link-font-family: $font-family-poppins-first;

$card-paragraph-margin-bottom: 1.5625rem;

$card-box-shadow: 0 0.46875rem 2.1875rem rgba($dark, 0.1), 0 0.9375rem 1.40625rem rgba($dark, 0.1),
  0 0.25rem 0.53125rem rgba($dark, 0.12), 0 0.125rem 0.1875rem rgba($dark, 0.1);

$card-img-overlay-padding: 1.875rem 2.1875rem;
$card-deck-margin: 0.9375rem;

$card-list-group-item-padding: 0.8125rem 1.875rem;
$card-group-card-border: 1px solid lighten($dark, 53%);

$card-columns-count: 3;
$card-columns-gap: 1.25rem;
$card-columns-margin: $card-spacer-y;

$card-small-spacer-y: 1rem;
$card-small-spacer-x: 1rem;
$card-small-box-shadow: 0 2px 0 rgba($dark, 0.11), 0 4px 8px rgba($dark, 0.12), 0 10px 10px rgba($dark, 0.06),
  0 7px 70px rgba($dark, 0.1);

// Tooltips

$tooltip-max-width: 200px;
$tooltip-color: $dark;
$tooltip-bg: $white;
$tooltip-opacity: 1;
$tooltip-padding-y: 7px;
$tooltip-padding-x: 13px;
$tooltip-margin: 0;
$tooltip-font-size: $font-size-sm;
$tooltip-box-shadow: 0 3px 15px rgba($dark, 0.1), 0 2px 3px rgba($dark, 0.2);

$tooltip-arrow-width: 5px;
$tooltip-arrow-height: 5px;
$tooltip-arrow-color: $tooltip-bg;

// Popovers

$popover-inner-padding: 0;
$popover-bg: $white;
$popover-max-width: 276px;
$popover-border-radius: $border-radius-lg;
$popover-border-width: $border-width;
$popover-border-color: transparent;
$popover-font-size: $font-size-sm;
$popover-box-shadow: 0 3px 15px rgba($dark, 0.1), 0 2px 3px rgba($dark, 0.2);

$popover-header-bg: lighten($dark, 58%);
$popover-header-color: $headings-color;
$popover-header-padding-y: 14px;
$popover-header-padding-x: 20px;
$popover-header-line-height: 14px;

$popover-body-color: $body-color;
$popover-body-padding-y: 15px;
$popover-body-padding-x: 20px;

$popover-arrow-width: 1rem;
$popover-arrow-height: 0.3rem;
$popover-arrow-color: $popover-bg;

$popover-arrow-outer-width: $popover-arrow-width;
$popover-arrow-outer-color: fade-in($popover-border-color, 0.05);

// Badges

$badge-color: $white;
$badge-font-size: 75%;
$badge-font-weight: $font-weight-bold;
$badge-padding-y: 0.375rem;
$badge-padding-x: 0.5rem;
$badge-font-family: $font-family-system-first;
$badge-pill-border-radius: 10rem;
$badge-border-radius: 0.375rem;
$badge-pill-padding-x: $badge-padding-x;

// Modals

// Padding applied to the modal body
$modal-inner-padding: 1.875rem 2.1875rem;
$modal-footer-padding: 0.9375rem 2.1875rem;

$modal-dialog-margin: 0.625rem;
$modal-dialog-margin-y-sm-up: 1.875rem;

$modal-title-line-height: $line-height-base;

$modal-content-bg: $white;
$modal-content-border-width: $border-width;
$modal-content-box-shadow: $card-box-shadow;

$modal-backdrop-bg: $dark;
$modal-backdrop-opacity: 0.12;
$modal-header-border-color: lighten($dark, 50%);
$modal-footer-border-color: lighten($dark, 50%);
$modal-header-border-width: $modal-content-border-width;
$modal-footer-border-width: $modal-header-border-width;

$modal-header-padding: 0.9375rem 2.1875rem;

$modal-lg: 800px;
$modal-md: 500px;
$modal-sm: 300px;

$modal-transition: transform 0.3s ease-out;

// Alerts

$alert-padding-y: 0.75rem;
$alert-padding-x: 1.25rem;
$alert-margin-bottom: 1rem;
$alert-border-radius: 0;
$alert-link-font-weight: $font-weight-bold;

// Progress bars

$progress-height: 0.625rem;
$progress-font-size: 0.625rem;
$progress-bg: lighten($dark, 58%);
$progress-border-radius: 1.25rem;
$progress-box-shadow: inset 0 0.1rem 0.1rem rgba($dark, 0.15);
$progress-bar-color: $white;
$progress-bar-bg: theme-color("primary");
$progress-bar-animation-timing: 1s linear infinite;
$progress-bar-transition: width 0.6s ease;
$progress-label-font-size: 0.8125rem;
$progress-sm-height: 0.3125rem;
$progress-lg-height: 0.9375rem;

// List group

$list-group-bg: $white;
$list-group-border-color: rgba($black, 0.125);
$list-group-border-width: $border-width;
$list-group-border-radius: $border-radius;
$list-group-transition: $transition-base;

$list-group-item-padding-y: 0.75rem;
$list-group-item-padding-x: 1.25rem;
$list-group-sm-item-padding-y: 0.625rem;
$list-group-sm-item-padding-x: 1rem;

$list-group-sm-item-font-size: 0.8125rem;

$list-group-hover-bg: lighten($dark, 59%);
$list-group-active-color: $component-active-color;
$list-group-active-bg: $component-active-bg;
$list-group-active-border-color: $list-group-active-bg;

$list-group-disabled-color: $gray-300;
$list-group-disabled-bg: $list-group-bg;

$list-group-action-color: $dark;
$list-group-action-hover-color: $list-group-action-color;

$list-group-action-active-color: $body-color;
$list-group-action-active-bg: lighten($dark, 55%);

// Image thumbnails
$thumbnail-bg: $body-bg;
$thumbnail-border: none;
$thumbnail-padding: 0;
$thumbnail-border-radius: $border-radius;
$thumbnail-box-shadow: none;

// Figures

$figure-caption-font-size: 1rem;
$figure-caption-color: $gray-600;

// Close
$close-font-size: $font-size-base * 1.5;
$close-font-weight: $font-weight-bold;
$close-color: lighten($dark, 20%);
$close-text-shadow: none;

// Code
$code-font-size: 0.75rem;
$code-line-height: 1.375rem;
$code-padding-y: 0.1875rem;
$code-padding-x: 0.8125rem;
$code-background-color: rgba(19, 19, 19, 0.8);

$kbd-font-size: 0.75rem;
$kbd-border-radius: 0.625rem;
$kbd-box-shadow: none;
$kbd-padding-y: $code-padding-y;
$kbd-padding-x: $code-padding-x;
$kbd-color: $white;
$kbd-bg: $gray-900;

$nested-kbd-font-weight: $font-weight-bold;

$pre-color: $gray-900;
$pre-scrollable-max-height: 340px;
$pre-code-border-radius: 4px;
$pre-code-background-color: $gray-700;
$pre-color: $gray-100;
$pre-font-size: 0.9em;
$pre-max-height: 460px;
$pre-margin-bottom: 24px;
$pre-padding: 16px;

// Utils
$positions: static, relative, absolute, fixed, sticky;
$user-selects: all, auto, none;
$link-shade-percentage: 20%;
// Icon links
// scss-docs-start icon-link-variables
$icon-link-gap: 0.375rem;
$icon-link-underline-offset: 0.25em;
$icon-link-icon-size: 1em;
$icon-link-icon-transition: 0.2s ease-in-out transform;
$icon-link-icon-transform: translate3d(0.25em, 0, 0);
$stretched-link-pseudo-element: after;
$stretched-link-z-index: 1;
// // Slider control (nouislider)
// $slider-base-size: 5px;
// $slider-base-box-shadow: inset 0 1px 2px rgba($dark, 0.1);
// $slider-base-border-radius: 5px;
// $slider-base-background: lighten($dark, 55%);
// $slider-base-margin-top: 35px;

// $slider-connect-color: theme-color("primary");
// $slider-pips-color: lighten($dark, 30%);

// $slider-tooltip-padding: 5px 10px;
// $slider-tooltip-font-size: 0.75rem;
// $slider-tooltip-background: $white;
// $slider-tooltip-border-radius: $border-radius;
// $slider-tooltip-color: $dark;
// $slider-tooltip-border-radius: 5px;
// $slider-tooltip-box-shadow: 0 3px 15px rgba($dark, 0.1), 0 2px 3px rgba($dark, 0.2);

// $slider-handle-transition: $transition-base;
// $slider-handle-border: 1px solid lighten($dark, 53%);
// $slider-handle-background: $white;
// $slider-handle-disabled-background: lighten($dark, 57%);
// $slider-handle-border-radius: 50%;
// $slider-handle-width: 23px;
// $slider-handle-height: 23px;

// $slider-handle-box-shadow: 0 3px 15px rgba($dark, 0.1), 0 2px 3px rgba($dark, 0.2);

// $slider-handle-focus-box-shadow: 0 0 8px rgba(theme-color("primary"), 0.65), 0 3px 15px rgba($dark, 0.1),
//   0 2px 3px rgba($dark, 0.2);

// // Datepicker

// $datepicker-border-radius: $card-border-radius;
// $datepicker-dropdown-padding: 20px 22px;

// $datepicker-cell-transition: $transition-base;
// $datepicker-cell-hover-background: lighten($dark, 55%);
// $datepicker-cell-border-radius: 50%;
// $datepicker-cell-width: 36px;
// $datepicker-cell-height: 36px;

// $datepicker-disabled-cell-color: lighten($dark, 53%);
// $datepicker-disabled-old-new-color: lighten($dark, 40%);

// $datepicker-header-cell-border-radius: $border-radius;

// $datepicker-active-color: $white;
// $datepicker-active-background: theme-color("primary");

// $datepicker-range-background: theme-color("primary");
// $datepicker-range-cell-focused-background: darken($datepicker-range-background, 5%);
// $datepicker-range-color: $white;
// $datepicker-range-highlighted-bg: $gray-200;

// $datepicker-dropdown-border: lighten($dark, 40%);
// $datepicker-dropdown-bg: $white;
// $datepicker-highlighted-bg: $datepicker-active-background;
