//                        :([ HARMONIC SASS FRONTEND ]):
//                 .;,                ..                  .,.         ..       .
//    .,,.        .dWK;       ... .ocdOO:  ,.         .;coool ...xx'coOOl.  .:d
//    :XNk'       .OWNx.     'kOcc. :;kW:       .';coool:'.  'kOccoo:;kW0:;dxo;.
//    'OWN0;      :XNW0,    .dN0d:.  .xWX..';coo00Ll'.      .dN0d:.  .xWXOo;.
//     oNNNK:   .cONXNXc   ,xXK:      XNdxxdoc;:OWk.       ,xXK:   .:xXNd.
//     ;KNNNKc .dNNOo0Wd.  oxNk..     NK;.      ;KNo     ;doxNk..:dxdkNK;
//     .xNK0NXloXWX:.xWO'  .oN0x      Wd.        lNK;  'xx  oN0xkd:..xWd.
//      cNKldNNNNXo  cNX: .dKNk;.     :X0  ..';:'.dNk..ONd:dKNk;.   :X0,
//      '0Nl:oKKd:.  ,0Wd..xXX:      'OHco0O0ol:. 'ONl.o .,,xX:    'OXc
//      .xWx: .*     .xW0' ,0K,     .tWo.C00Ol:.   :XK; .  ,0K,   .dNo.
//      .dW0,         cNNc ,KK,    .oXd.  .':dOKkc'.oNk.   ,KK,  .oXd.
//    kX00NX;         'OWk.;KK, .dKl:l;       .,o0KxdKNo.  ;KK, .dKl.
//    .l0NNX:          oNXc,KNockk,   :.          .;xKNNXc  ,KNockk,
//      .d0d.          '0WO.dXKkc.    ,             'oKWK; .dXKkc.
//        .             ,ol  ..                       .ll'   ..
//
@use 'sass:map';
@use 'sass:list';
@use 'sass:math';
@use 'sass:color';
@use 'sass:meta';
@use 'sass:string';

///  TODO LIST
///  Bootstrap + CSS GRID: https://codepen.io/dutchwebworks/pen/EvaJdB
///  Generate _package.scss as a way to import json data
///  Add in Javascript Library for Modal?
///  Tokens & Chords need the javascript builders
///  The 'Jollybar' Debug Toolkit needs to be added

//
// CONTAINS MOJO LIBRARY, VARIABLES, AND CONFIG OPTIONS
@import 'framework';

//
// INITIAL OUTPUT : ROOT VARS : NORMALIZE + RESET
@include mojoBanner('', '0.2.0');
@import 'root';
@import 'thirdparty/normalize/normalize';
@import 'kick-off';

//
// HARMONIC TYPOGRAPHY & ARTICLE CONTENT
@import 'harmony';

// LAYOUT GRID SECTIONS
$include-column-box-sizing: true;
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'container-grid';

//
// MOJOIFIED BOOTSTRAP COMPONENTS
@import 'bootstrap/scss/alert';
@import 'alert';
@import 'accordions';
@import 'badge'; // BS version not needed
@import 'bootstrap/scss/buttons';
@import 'buttons';
@import 'bootstrap/scss/button-group';
@import 'button-group';
@import 'bootstrap/scss/breadcrumb';
@import 'bootstrap/scss/card';
@import 'card';
@import 'bootstrap/scss/close';
@import 'bootstrap/scss/dropdown';
@import 'dropdown';
@import 'bootstrap/scss/forms';
@import 'forms';
@import 'input-group';
@import 'bootstrap/scss/list-group';
@import 'list-group';
@import 'bootstrap/scss/modal';
@import 'modal';
@import 'bootstrap/scss/pagination';
@import 'pagination';
@import 'bootstrap/scss/tables';
@import 'tables';
// @import "bootstrap/scss/transitions";
@import 'transitions';
@import 'angle-edges';
@import 'social';

// NAVIGATION ELEMENTS
@import 'bootstrap/scss/nav';
@import 'nav';
@import 'bootstrap/scss/navbar';
@import 'navbar';
// @import "off-canvas";

// TODO: consider adding these files
// @import "bootstrap/scss/accordion";
// @import "progress";

// @import "tooltip";
// @import "popover";
// @import "custom-forms";
// @import "custom-sliders";
// @import "custom-datepicker";

// HELPER CLASSES
@import 'framework/bs-helpers';

// FINAL UTILITY CLASS API
// modified to put back bootstrap 4 classes and forego RTL mode
// https://gist.github.com/FelipeVa/6e5c2857c6c1bed0fe8647ea0bfa7478
$utilities: map-merge(
  $utilities,
  (
    'opacity': (
      property: 'opacity',
      responsive: true,
      class: vis,
      values: (
        0: 0,
        100: 1,
      ),
    ),
    'position':
      map-merge(
        map-get($utilities, 'position'),
        (
          class: position,
          responsive: true,
        )
      ),
    'margin-start':
      map-merge(
        map-get($utilities, 'margin-start'),
        (
          class: ml,
        )
      ),
    'margin-end':
      map-merge(
        map-get($utilities, 'margin-end'),
        (
          class: mr,
        )
      ),
    'negative-margin-start':
      map-merge(
        map-get($utilities, 'negative-margin-start'),
        (
          class: ml,
        )
      ),
    'negative-margin-end':
      map-merge(
        map-get($utilities, 'negative-margin-end'),
        (
          class: mr,
        )
      ),
    'padding-start':
      map-merge(
        map-get($utilities, 'padding-start'),
        (
          class: pl,
        )
      ),
    'padding-end':
      map-merge(
        map-get($utilities, 'padding-end'),
        (
          class: pr,
        )
      ),
  )
);
@import 'bootstrap/scss/utilities/api';
