//-
//- GLOBAL VARIABLES
//- Every page configured here.
//- Package data is imported at the node level
//- --------------------------

- var path = './'
- var imgPath = "demo/imgs/"

- var title = 'Mojo is an SCSS based, Typography focused, UI Library'
- var metaDesc = 'Mojo is a concoction containing a stylish SCSS codebase and ES6 Javascript. Additionally it includes numerous design features like automated style-guide, design tokens, and color palette management.'

- var mojoVersion = "0.5.1"
- var superClass = "mojo"
- var showDebug = false
- var highlight = false

- var lang = "en.US"
- var stamp = Math.round(new Date().getTime() / 1000)
